[2018-02-26 10:24] dcoeurjo commented on #1239
ah ok, the doxygen documentation and the LGPL license ?

[2018-02-26 10:25] kerautret commented on #1239
yes

[2018-03-02 07:29] cgurps commented on #1246
Hi,

did you install libqglviewer with qt5 ?

[2018-03-02 08:49] kerautret commented on #1246
If I well remember it was using qt4 (the compilation was fine).
But it could be perhaps complicated to reproduce the pb (the student were updating their system with only qt4 and that was fine).

[2018-03-02 10:13] cgurps commented on #1246
Yeah, qglviewer is compiled with qt4, then you must use qt4 in DGtal otherwise it creates segfaults (and the same for qt5). I had the same issue !

[2018-03-05 14:15] Ryukhaan opened #1312 "Link QGL Framework issue (Library not loaded)"
I tried to install DGtal, I proceeded like that :

Installing libQGL with these commands :
- Download and decompress the sources
- cd path/to/libQGLViewer-2.7.1/QGLViewer
- qmake -spec macx-xcode
- make
- make install

Then I installed DGtal (and DGtalTools) as it's recommended :
- git clone https://github.com/DGtal-team/DGtal.git
- cd DGtal; mkdir build; cd build
- cmake .. (with Qt5 and QGLViewe

[2018-03-12 11:32] akrah commented on #1246
Hi,

With Ubuntu and Debian, if you choose an installation of QGLViewer with a packet manager, you have now two packages : libqglviewer-dev-qt4 and libqglviewer-dev-qt5. So you can have both installed and link the good library depending on the WITH_QT5 option status.
Note that the names of installed libraries are libQGLViewer-qt5.so and libQGLViewer-qt4.so. Maybe you need to make a symbolic link w

[2018-03-20 19:52] dcoeurjo commented on #1312
Looks like a libqglviewer issue.. There is nothing we can do on DGtal side I think

[2018-03-20 20:52] phcerdan opened #1314 "[Question] Storing a DistanceTransformation in a single-value image."
Is there a canonical way to do this?
I see that DistanceTransformation needs a TImageContainer with a TSpace::Vector, but the operator() gives the distance (The norm of the Voronoi vector).
Or do we have to create a new TImageContainer with single value type (aka, double), and populate it iterating over the Voronoi container?

Thanks!

[2018-03-21 10:18] dcoeurjo commented on #1314
Mmm I'm not sure to understand. Indeed,`DistanceTransformation`  is a facade on `VoronoiMap`, that evaluate the distances (double) from  Voronoi labelling (vector). The TImageContainer of DistanceTransform is need to be able to instantiate the underlying VoronoiMap.

DistanceTransform is a model of the Image concept, so you can directly iterate over the DT values..

[2018-03-21 13:46] kerautret opened #1315 "SVX reader/writer"
It could be nice to have an SVX format(Simple Voxels) to convert 3d printing file to vol/sdp and then to be used in DGtal..

[2018-03-21 15:12] dcoeurjo commented on #1315
would you have the spec of this format ?

[2018-03-21 15:16] kerautret commented on #1315
yes :
https://abfab3d.com/svx-format/

[2018-03-21 18:17] phcerdan commented on #1314
Yeah, sorry about my confusing description. And thanks about the explanation, the key was to realize that DistanceTransform is a model of the Image concept, so I can directly use it in the io writer:

[code]

[2018-03-21 18:17] #1314 closed

[2018-03-26 07:13] dcoeurjo opened #1317 "Mathjax down on doc pages"
Looks like the mathjax is not running on doc pages...

[2018-03-28 14:40] dcoeurjo commented on #1317
see #1318

[2018-04-05 12:07] dcoeurjo commented on #1317
Fixed

[2018-04-05 12:07] #1317 closed

[2018-04-10 09:21] danoan opened #1320 "Typo in the Copy Constructor of PredicateCombiner"
Instead of using:

myPred1(other.pred1) it should be myPred1(other.myPred1)
myPred2(other.pred2) it should be myPred2(other.myPred2)
myBoolFunctor(other.boolFunctor) it should be myBoolFunctor(other.myBoolFunctor)

base/BasicFunctors.h

[code]

[2018-05-03 14:19] dcoeurjo commented on #1320
hi @danoan, thanks for the feedback

[2018-05-13 18:33] dcoeurjo commented on #1320
Fixed in #1321

[2018-05-14 11:05] #1320 closed

[2018-05-28 08:34] fafesche opened #1323 "OpenMP FLAGS incomplete: examples/topology/generateVoxelComplexTables"
Configuration : gcc (Ubuntu 5.4.0-6ubuntu1~16.04.9) 5.4.0 20160609
OPENMP is activated for the DGtal compilation

Led to errors:
[...]/DGtal/src/DGtal/topology/VoxelComplex.ih:842 : undefined_reference « omp_get_num_procs »
[...]/DGtal/src/DGtal/topology/VoxelComplex.ih:843 : undefined_reference « omp_set_num_threads »
[...]/DGtal/src/DGtal/topology/VoxelComplex.ih:855 : undefined_reference « omp_

[2018-05-30 07:06] dcoeurjo commented on #1323
hi @fafesche,
thanks for the report. The issue seems to be related to the openmp lib (which implements the omp_get_thread*) rather than the -fopenmp.

but I agree.. OpenMP dependency is not set correctly in this code.

[2018-05-30 07:27] dcoeurjo commented on #1323
Agree but there are two things: the compiler flag (-f openmp for gcc) and the static/dyn library that implements the omp_* functionalities.
It looks like the flag is ok on my systems but the lib is missing... I'll fix this and we'll see if you still have the issue.

(can you please cut/paste the output of the `cmake ..` command ?)

[2018-05-30 07:38] dcoeurjo commented on #1323
the openmp flags could also be in the `flags.make` file. Can you please double-check ?

[2018-05-30 07:46] fafesche commented on #1323
threre is no external lib for gcc it is included with (libgomp). This is different for another compiler.
I have just verified: no -fopenmp in flags.make file.

[2018-05-30 07:48] dcoeurjo commented on #1323
strange.. Can you please cut/paste the cmake output ?

[2018-05-30 08:06] fafesche commented on #1323
You can close the issue I have found the origin of the problem.

Precision: I use the git version. Cloning done 2 days ago.

Command:
cmake -DWITH_CAIRO=true -DWITH_EIGEN=true -DWITH_FFTW3=true -DWITH_GMP=true -DWITH_HDF5=true -DWITH_ITK=true -DWITH_MAGICK=true -DWITH_OPENMP=true -DWITH_QGLVIEWER=true -DWITH_QT5=true ..

Compilation is now ok.

Reason: two gcc version conflicting, gcc 5.4.0 confli

[2018-05-30 08:31] #1323 closed

[2018-05-30 08:36] dcoeurjo commented on #1323
Ok I see.. no problem, you actually helped us to fix a link issue (see the PR #1324) for some compilers with external libs.

[2018-05-30 08:36] dcoeurjo commented on #1323
thx

[2018-06-16 23:38] phcerdan opened #1327 "Deprecated location of boost header: common_factor_rt.hpp"
boost version: 1.67.0-4

[code]

[2018-06-19 14:41] JacquesOlivierLachaud opened #1329 "namespace Hull2d not in DGtal"
Should move Hull2D namespace into DGtal

[2018-07-10 17:34] rolanddenis opened #1334 "Doxygen log not checked anymore during Travis job"
The Doxygen log file (`doxygen.log`) is not checked about warnings anymore. It seems to be a path problem : the file is searched in the current folder instead of the `build` folder.

See the tests in #1333 and job output https://api.travis-ci.org/v3/job/402309209/log.txt

[2018-07-11 10:17] rolanddenis commented on #1334
WIP in #1335

[2018-07-28 18:56] phcerdan commented on #94
Asking here out of curiosity. What is the difference between KnSpace and the current Khalimsky Space? Where is the bottle neck in current implementation of K-Spaces? And... more generally: is there any "winner" in terms of computational efficiency for a data structure for Cellular Grids and/or Cubical Complexes? I find the literature a little bit too vast to form a clearer idea on this. So asking

[2018-07-28 21:18] JacquesOlivierLachaud commented on #94
In fact, in my former "digital" library "Imagene", there was a compact (and somewhat faster) model of KhalimskySpaceND. The idea was simply, if you have a bounded domain, to encode all information describing a cell (topology + coordinates) as some 32 bits or 64 bits integer. Then, set of cells (for instance with same dimension) could be encoded as bitsets. Another advantage was that the sign+topol

[2018-08-31 12:02] rolanddenis opened #1341 "Implicit conversion operator between PointVector"
I'm not sure it is an issue or if we want it to be fixed but, at this time, the `PointVector` conversion operator (from another `PointVector` but with possibly another Euclidean ring type or storage type, see https://github.com/DGtal-team/DGtal/blob/master/src/DGtal/kernel/PointVector.h#L270) is implicit, thus leading to some surprising behaviour:
[code]
outputs:
[code]

It can also happen using i

[2018-08-31 12:04] dcoeurjo commented on #1341
So true ;) but you've just opened up Pandora's box ;)

[2018-08-31 13:32] JacquesOlivierLachaud commented on #1341
Do you have a lot of compilation error in DGtal for option (1). If a few, I would suggest (1) and fixes.
Otherwise, I would go for the implicit "subset" conversion. Since int is a "subset" of double, convert to double. Since float is a subset of double, convert to double, etc.

[2018-08-31 16:27] rolanddenis commented on #1341
Building tests and examples with default options:
[code]
The result of the grep: https://gist.github.com/rolanddenis/eb9a2e3802ce3f1b692499a3f79372e2

I don't think that only allowing "correct" conversion will fixes all the compilation error: considering the example (there is some similar lines among the errors)
[code]
it will consider the `operator+` of `PointVector<2,int>` thus failing to find a

[2018-09-03 09:32] dcoeurjo commented on #1341
In many situations, the implicit casts (Point->RealPoint) are done on purpose (for instance when drawing stuff or performing some real computations). Some might also come from bugs ;). RealPoint->Point are a bit odd (and probably bugs too).
Long time ago we decided to have the same class for Point and RealPoint for the sake of simplicity (relying on the user/dev smartness to avoid any issue). Spli

[2018-09-03 14:50] rolanddenis commented on #1341
To temper the importance of all those errors : considering errors related to operations between `PointVector`:
[code]
and considering integer to float conversion as valid, even if it may result in a loss of precision, there is "only" 10 errors left (searching for errors where the first operand is not a floating-point type):
[code]

Doing the same with DtalTools results in 144 errors, including 113

[2018-09-05 10:01] danoan opened #1343 "Access property of SCellToPoint functor"
In class **SCellToPoint** in file **DGtal/topology/SCellFunctors.h**

Types Ouput, Input are declared **private**.
I suggest to make them **public** as in the other functors.

[code]

[2018-09-05 14:17] JacquesOlivierLachaud commented on #1341
I am not shocked by the previous behaviour (at least not too much). From an object point of view (and even from a programming language point of view), op::+ is not commutative and result type may differ.

[2018-09-09 12:00] rolanddenis commented on #1341
But using fundamental types, we are used to have similar results when considering expressions like ```3 + 4.5``` and ```4.5 + 3``` ?

Reconsidering my previous proposed solution, it may need less work than initially guessed:
1. Allow implicit conversion only for the conversion chain `signed char -> short -> int -> long int -> float -> double -> long double` like the standard behaviour for arithmet

[2018-09-10 06:59] JacquesOlivierLachaud commented on #1341
Oh !! I didn't know the construction auto f( ... ) -> decltype( g( ... ) )
C++ is so much fun !

[2018-09-10 07:00] JacquesOlivierLachaud commented on #1341
Otherwise your solution seems pretty neat to me .

[2018-09-10 07:01] dcoeurjo commented on #1341
Agree.. is it in C++11 already?

[2018-09-10 07:02] dcoeurjo commented on #1343
Agree. Would you like to try a Pull-request with this edit ?

[2018-09-10 07:33] rolanddenis commented on #1341
Yes it is the *trailing return type* syntax introduced in C++11 (see https://en.cppreference.com/w/cpp/language/auto , item (2)). I have also used this syntax in PR #1332 . In C++14, the trailing part (`-> decltype(...)`) can be omitted and the return type will be deduced from the `return` statement.

[2018-09-10 09:40] rolanddenis commented on #1341
I am also willing to change how comparison operators are implemented: instead of relying on the storage operators, I would explicitly implement them using standard algorithm (`std::equal`, `std::lexicographical_compare`, ...) so that it doesn't depend on the chosen storage. I think it shouldn't change any behaviour since `std::array` comparisons use lexicographical order and I don't have the impre

[2018-09-10 09:43] JacquesOlivierLachaud commented on #1341
As far as I know, we always use the defaut comparison operator defined in PointVector. In images, there are subranges with different ordering but they use their own methods.

[2018-09-10 09:48] rolanddenis commented on #1341
You mean the default storage (thus the lexicographical order) ?

[2018-09-10 09:53] JacquesOlivierLachaud commented on #1341
Yes. (from std::array)

[2018-09-10 13:29] danoan commented on #1343
Ok

Le lun. 10 sept. 2018 à 09:02, David Coeurjolly <notifications@github.com>
a écrit :

[2018-09-10 15:47] rolanddenis commented on #1341
Current draft in #1345. I have add the same conversion rules for the assignment operator, thus triggering a compilation error here: https://github.com/DGtal-team/DGtal/blob/master/src/DGtal/kernel/BasicPointFunctors.h#L459

What should be the wanted conversion ? Round or simply cast to `int` ?

[2018-09-10 18:17] dcoeurjo commented on #1341
ping @kerautret
I think rounding should be considered

[2018-09-11 10:33] kerautret commented on #1341
yes rounding should be ok, sorry

[2018-09-12 07:38] rolanddenis commented on #1341
Ok, thx !

[2018-09-12 07:55] dcoeurjo commented on #1308
Fixed;)

[2018-09-12 07:55] #1308 closed

[2018-09-12 08:53] rolanddenis commented on #1341
Another case: I have an error here https://github.com/DGtal-team/DGtal/blob/master/src/DGtal/geometry/tools/Hull2DHelpers.ih#L445 :
[code]
since, in this context (used in `tests/geometry/curves/testAlphaThickSegmentComputer.cpp`), `b` and `a` are `PointVector<2, int>` and `p` is a `PointVector<2, double>`. The logical solution is to replace this line by
[code]
by I was wondering if the previous im

[2018-09-12 09:01] JacquesOlivierLachaud commented on #1341
Weird line. This line is never negative, so the >0 is just a != 0, no ?

[2018-09-12 09:29] rolanddenis commented on #1341
Hum wait, it's true :sweat_smile:

But, looking at the documentation, I don't understand what `isInside = (b-a).dot(p)*(b-a).dot(p)>0;` is doing ... should we not simply test if `c[1]` is within `[ a[1], b[1] ]` ?

[2018-09-12 11:20] JacquesOlivierLachaud commented on #1341
I ping @kerautret because we can blame him ! :-)

[2018-09-12 12:38] kerautret commented on #1341
oops, yes you are right weird line(s), I miss it on the back port of alpha thick implementation. can at least be replaced by  (b-a).dot(p) >0 I think. sorry!

[2018-09-12 12:50] rolanddenis commented on #1341
Ok but I don't understand the meaning of this calculation. We are checking if the `p` point, the horizontal projection of `c` on the `(a,b)` line, lies inside the `[a,b]`, right ? If so, we should check `0 <= (b-a).dot(p-a) / (b-a).norm() <= 1` instead, that can be simplified by `a[1] <= c[1] <= b[1]`, no ?

[2018-09-12 13:06] kerautret commented on #1341
yes, the simplification is ok

[2018-09-12 14:48] dcoeurjo opened #1347 "testVoxelComplex too long"
The `testVoxelComplex` unit test is too long (40sec on my machine).
We should check if all tests are really necessary..

[2018-09-12 14:52] dcoeurjo commented on #1329
is this issue still open ?

[2018-09-12 14:58] rolanddenis commented on #1341
@kerautret, sorry to bother you again with that but, since the rounding in `Point2DEmbedderIn3D` constructor, the `testBasicPointFunctors` fails:
[code]
(first error at 5th comparison, corresponding to https://github.com/DGtal-team/DGtal/blob/master/tests/kernel/testBasicPointFunctors.cpp#L143 )

I'm not sure to understand what the correct projections should be in those cases. In fact, using this

[2018-09-12 16:07] kerautret commented on #1341
Yes the round should be at the origin of the preview value, the correction to 2->3 should be fine.
For the addition, effectively an issue is perhaps better, I hope to be less busy in the upcoming days but you can assign me ;) thanks in all cases!

[2018-09-13 07:38] rolanddenis opened #1348 "Incertitude on the chosen basis in Point2DEmbedderIn3D"
`Point2DEmbedderIn3D` has two constructors:
1. the first one (https://github.com/DGtal-team/DGtal/blob/master/src/DGtal/kernel/BasicPointFunctors.h#L388) takes an origin and two other points on the 2D plane in order to build the corresponding basis.
2. the second one (https://github.com/DGtal-team/DGtal/blob/master/src/DGtal/kernel/BasicPointFunctors.h#L420) takes only an origin and a vector norma

[2018-09-13 07:47] rolanddenis commented on #1341
Ok, I will change the expected results to match the current output and add a comment in order to check it later. Issue opened: #1348 :wink:

[2018-09-13 07:53] rolanddenis commented on #1348
Another question: if we choose `std::round` as the rounding mode when calculating the origin point (https://github.com/DGtal-team/DGtal/blob/master/src/DGtal/kernel/BasicPointFunctors.h#L459), shouldn't we do the same when calculating the embeddings in `operator()` (https://github.com/DGtal-team/DGtal/blob/master/src/DGtal/kernel/BasicPointFunctors.h#L482) ? Maybe also store the origin point as a

[2018-09-13 11:44] JacquesOlivierLachaud commented on #1341
For me, that kind of expression is error-prone. There are three "natural" readings of this expression, sorted from the most likely to less likely (in my opinion):
1) each component of pt is cast to double and dummy is PointVector<3,double>
2) each component of pt is cast to double, multiplied by 3.5, then rounded again to int and and dummy is PointVector<3,int>
3) each component is multiplied by 3

[2018-09-13 11:49] dcoeurjo commented on #1341
Agree with @JacquesOlivierLachaud.
Actually, only 1. make sense for me.
If I want 2., I just don't use auto.

[2018-09-13 11:52] rolanddenis commented on #1341
Ok, I think I will implement the first one but the `dummy` storage type will be the default one (`std::array`), instead of the storage type of one of the parameters (like for `operator+`).

In the same way, I suppose we agree to strictly ban expression like this:
[code]

[2018-09-14 08:12] rolanddenis commented on #1341
I'm also checking conversion in `dot`, `crossProduct`, etc. About `crossProduct`, while I'm here, I was thinking about enabling this method only for 3D and, eventually, adding a 2D version that only returns the 3rd component of the 3D embedded crossProduct (like in `DGtal::IntegerComputer`). Is it OK ?

[2018-09-20 15:35] rolanddenis commented on #1341
@kerautret , I also have a conversion issue here https://github.com/DGtal-team/DGtal/blob/master/src/DGtal/geometry/curves/AlphaThickSegmentComputer.ih#L756

To fix this, I have supposed that `std::round` was a good choice but can you just confirm me that `InputPoint` will always have an integer component type (so that rounding is always necessary) ?

[2018-09-21 14:34] rolanddenis commented on #1341
Another question (more for @JacquesOlivierLachaud and @dcoeurjo) : if you look at the first example of the `DistanceBreadthFirstVisitor` documentation page (https://dgtal.org/doc/nightly/classDGtal_1_1DistanceBreadthFirstVisitor.html), there is a `PointVector` conversion issue. The `VertexFunctor` is a composition of a cell embedder (`CanonicSCellEmbedder`) and a distance (`ExactPredicateLpSeparab

[2018-09-22 12:08] dcoeurjo commented on #1341
hi @rolanddenis, thanks for the issue, it is a deep bug... The Exact* classes should indeed only be used for integer coordinates pont only (otherwise, predicates are not exact at all)... I'll prepare a fix in a PR

[2018-09-23 15:54] rolanddenis commented on #1341
So far, I found this bug in [`LocalEstimatorFromSurfelFunctorAdapter`](https://github.com/DGtal-team/DGtal/blob/master/src/DGtal/geometry/surfaces/estimation/LocalEstimatorFromSurfelFunctorAdapter.ih#L170) and [`testDistancePropagation.cpp`](https://github.com/DGtal-team/DGtal/blob/master/tests/graph/testDistancePropagation.cpp#L113).

I agree with the use of a lambda, it will be a more easy fix w

[2018-09-24 07:42] dcoeurjo commented on #1210
You would have to set the `Qt5_DIR` or `CMAKE_PREFIX_PATH` variable during the cmake step.

On macOS using home-brew package manager, I use the following shortcut:

      cmake .. -DCMAKE_PREFIX_PATH=$(brew --prefix qt5)

[2018-09-25 06:44] GD-B-150793 commented on #1210
thank you for helping i need another help

-- The following ICU libraries were not found:

--   i18n (required)

--   uc (required)

CMake Error at
/usr/local/Cellar/cmake/3.12.2/share/cmake/Modules/FindPackageHandleStandardArgs.cmake:137
(message):

  Failed to find all ICU components (missing: ICU_INCLUDE_DIR ICU_LIBRARY

  _ICU_REQUIRED_LIBS_FOUND)

i am getting this error can you tell me how t

[2018-09-25 06:51] dcoeurjo commented on #1210
I've no idea where these issues come from but it is not related to DGtal.
Check your Qt installs (if the ICU is loaded when activating this deps) but there is nothing we can do on our side

[2018-09-25 06:56] GD-B-150793 commented on #1210
i am doing my final year project on ontalogy based authoring tool....for
which i am trying to download miktex source code and then build it so i can
change the source code to according our FYP
for which i downloaded source code from github then they show me the link
where i get the step to build on mac
where i stuck on this line of code
cmake ../miktex-master

on which i get this error

INFOfribid

[2018-09-25 07:05] dcoeurjo commented on #1210
Does it have to do with DGtal ?

[2018-09-25 07:06] GD-B-150793 commented on #1210
NO
https://miktex.org/howto/build-mac
this is the link

On Tue, Sep 25, 2018 at 12:05 PM David Coeurjolly <notifications@github.com>
wrote:

[2018-09-25 07:06] dcoeurjo commented on #1210
So report the issue to miktex developers

[2018-09-25 07:08] GD-B-150793 commented on #1210
can you suggest me any developer

On Tue, Sep 25, 2018 at 12:06 PM David Coeurjolly <notifications@github.com>
wrote:

[2018-09-25 07:18] GD-B-150793 commented on #1210
i have to do my fyp please help me

On Tue, Sep 25, 2018 at 12:07 PM Afnan Saedd . <150793@students.au.edu.pk>
wrote:

[2018-09-25 07:19] dcoeurjo commented on #1210
google miktex, DGtal project has no relationship with them.

[2018-09-26 14:26] phcerdan opened #1350 "isSimple for a KhalimskySpace (or CubicalComplex)"
Would it be possible to get a simplicity check for a cell in a Khalimsky Space -- adding some extra topology information--? We have one for Object: [Object::isSimple](https://github.com/DGtal-team/DGtal/blob/a395742e9a3028c5c221f8fd38e617f5910850b8/src/DGtal/topology/Object.ih#L959-L999)

[2018-09-27 03:30] phcerdan commented on #1350
I have implemented one using thinning.

[2018-09-27 03:30] #1350 closed

[2018-09-27 03:33] phcerdan opened #1351 "isConnected for a KhalimskySpace (or CubicalComplex)"
What would be the best way to check if cells on a CubicalComplex (living in a KhalimskySpace) are connected?

I guess assuming a full topology, 26 in 3D for example.

[2018-10-16 17:55] copyme opened #1353 "MultiStatistics::terminate throws floating point arithmetic exception"
As in the description. The method causes `Signal: SIGFPE (Arithmetic exception)` with f`eenableexcept ( FE_DIVBYZERO | FE_INVALID | FE_OVERFLOW )`. This bug has been discovered thanks to #1352.

[2018-10-16 18:31] copyme commented on #1353
There is a division by zero. As from the data used in the test we have: mySamples[k] - 1 is equal to zero and then we have a division by zero.

[2018-10-16 19:40] copyme opened #1354 "Possible division by zero in Ball3D.ih"
Possible division by zero:   `angle.second = acos( sqrt(p[2] * p[2]) / p.norm() ); `

This was found thanks to #1352

I propose to fix this in a similar way as in https://github.com/DGtal-team/DGtal/pull/1339/files#diff-8747851535706d2a865630c0f9604970.

[2018-11-04 20:06] copyme commented on #1353
Fixed in  #1358

[2018-11-04 20:42] dcoeurjo commented on #1347
ping @phcerdan ;)

[2018-11-04 20:45] copyme commented on #1354
Fixed in  #1359

[2018-11-04 20:51] #1353 closed

[2018-11-05 06:12] phcerdan commented on #1347
Thanks @dcoeurjo, I will have a look, I have a branch to remove the object from VoxelComplex, that will speed things up, this might be a good opportunity to bring it to the table.

[2018-11-05 15:20] #1354 closed

[2018-11-14 15:24] JacquesOlivierLachaud opened #1361 "Compilation error of examples/dec/examplePropagation.cpp with Eigen3 (3.2.92) and gcc 5.4"
I have a compilation problem on examples/dec/examplePropagation.cpp with Eigen3 on Ubuntu 16.04 LTS, package libeigen3-dev par defaut (3.2.92).
`[100%] Building CXX object examples/dec/CMakeFiles/examplePropagation.dir/examplePropagation.cpp.o
In file included from /usr/include/eigen3/Eigen/Eigenvalues:38:0,
                 from /usr/include/eigen3/Eigen/Dense:7,
                 from /home/lacha

[2018-11-14 16:40] rolanddenis commented on #1361
No error under `Ubuntu/16.04` with `Clang/6.0` or `GNU/5.5` but using `Eigen/3.3.3`. Maybe a fixed bug  ?

[2018-11-15 07:49] JacquesOlivierLachaud commented on #1361
I found [http://eigen.tuxfamily.org/bz/show_bug.cgi?id=1394 bug1394](url) fixed in Eigen 3.3. I check if it works and I close the issue.

[2018-11-15 09:43] JacquesOlivierLachaud commented on #1361
It works when replacing Eigen 3.2.92 with Eigen 3.3. I close the issue.

[2018-11-15 09:43] #1361 closed

[2018-11-21 15:24] rolanddenis opened #1362 "CubicalComplex operators not found when same operators are already defined in DGtal namespace."
When including a header that defines the `operator-` as non-member function in the `DGtal` namespace,  the same `operator-` that applies on `CubicalComplex` and that is defined in the `DGtal::functions` namespace is not found by the Clang compiler (no problem with GNU compiler) when compiling `testCubicalComplex.cpp`.

This compilation error arises in [`CubicalComplex.ih`](https://github.com/DGtal

[2018-11-23 09:17] dcoeurjo opened #1363 "Polygonal / Triangulated surface should expose its HDS structure"
as done in IndexDigitalSurface

[2018-11-26 16:33] dcoeurjo commented on #1363
done in PR #1364

[2018-11-27 10:05] JacquesOlivierLachaud commented on #1362
I am a bit surprised that the compiler does not do a correct name lookup for operator-. As I see in CubicalComplex.h and CubicalComplexFunctions.h, operator- expect CubicalComplex<T1,T2>.
And I think for PointVector operator- also expects PointVector<T>.
Is it a question of namespace lookup ? (ie DGtal vs DGtal::functions)

[2018-11-27 11:05] JacquesOlivierLachaud commented on #1362
Your fix seems correct for CubicalComplex.ih
Otherwise, I think we can say in the doc that the user must also include CubicalComplexFunctions if he wants to use the operators.

[2018-11-27 16:00] rolanddenis commented on #1362
Ok, we should include `CubicalComplexFunctions` in `CubicalComplex.ih` ?

[2018-11-28 13:40] rolanddenis opened #1367 "FindMagick.cmake not working with ImageMagick"
It seems that the `FindMagick.cmake` script is designed to find GraphicsMagick but not ImageMagick. Even the error message (when not found) is about the missing GraphicsMagick headers.

For example, with Ubuntu 16.04 and `libmagick++-dev` installed, the `Magick++.h` file is in `/usr/include/ImageMagick-6/` that is not part of the searching paths of the CMake script. Specifying `MAGICK_LOCATION` en

[2018-12-01 05:55] skn123 opened #1370 "Eigen issue"
In file included from /home/naths/srcs/DGtal/src/DGtal/math/linalg/EigenSupport.h:67:
/usr/local/include/eigen3/Eigen/SparseCholesky:34:2: error: The SparseCholesky
      module has nothing to offer in MPL2 only mode
#error The SparseCholesky module has nothing to offer in MPL2 only mode
 ^
In file included from /home/naths/srcs/DGtal/examples/dec/examplePropagation.cpp:11:
In file included from /

[2018-12-01 09:00] dcoeurjo commented on #1370
Thx for the report. Can you please send us more information on your system ?
(Eigen version, compiler...)

[2018-12-03 05:15] skn123 commented on #1370
UBuntu 18.04.1
CLang 6.0.0

Here is what dgtal reports during CMake.
-- The C compiler identification is Clang 6.0.0
-- The CXX compiler identification is Clang 6.0.0
-- Check for working C compiler: /usr/bin/cc
-- Check for working C compiler: /usr/bin/cc -- works
-- Detecting C compiler ABI info
-- Detecting C compiler ABI info - done
-- Detecting C compile features
-- Detecting C compile featur

[2018-12-05 11:46] dcoeurjo commented on #1363
Fixed

[2018-12-05 11:46] #1363 closed

[2019-01-02 12:59] skn123 opened #1375 "Eigen issue"
Running DGTalTools, I get this error:
In file included from /usr/local/include/DGtal/dec/KForm.h:244:
/usr/local/include/DGtal/dec/KForm.ih:120:17: error: no member named 'clear' in
      'Eigen::Matrix<double, -1, 1, 0, -1, 1>'
    myContainer.clear();
[code]

[2019-01-05 16:18] dcoeurjo commented on #1375
Very strange.. Which tool are you building?

[2019-01-05 16:20] dcoeurjo commented on #1370
it looks like you are using Eigen 3.3.9 which is not a stable release. Could you please test again the build with Eigen 3.3.7 (latest stable) ?

[2019-01-05 16:21] dcoeurjo commented on #1375
Are you using the same Eigen as in #1370 ?

[2019-01-05 16:47] phcerdan commented on #1370
This could be a problem from ITK, ITK now ships an internal version of Eigen, with the option EIGEN3_MPL_ONLY.

It should not collide with any other Eigen, so It might be a bug there. I contributed to that patch in ITK, so I will be happy to narrow this down.

What version of ITK are you using? In ITK, are you using `ITK_USE_SYSTEM_EIGEN3:BOOL=ON`?
Does this error disappear in DGtal with `WITH_ITK

[2019-01-05 16:49] skn123 commented on #1375
Yes I am.

[2019-01-05 16:50] dcoeurjo commented on #1375
👌  can you please try with Eigen 3.3.7?

[2019-01-05 16:50] dcoeurjo commented on #1375
see #1370

[2019-01-05 17:06] #1351 closed

[2019-01-05 20:38] phcerdan commented on #1370
I can reproduce this issue, I submitted a patch to ITK. Thanks for the report.

[2019-01-06 09:03] dcoeurjo commented on #1370
Fantastic! Thx

[2019-01-06 14:03] JacquesOlivierLachaud commented on #1362
Perhaps include it in CubicalComplex.h instead to expose the fact that they come together.

[2019-01-06 14:04] JacquesOlivierLachaud commented on #1362
By the way, should we put DGtal::operator+( PointVector... ) and others in DGtal::functions ?

[2019-01-06 14:06] #1347 closed

[2019-01-07 13:00] rolanddenis commented on #1362
We will then have the same issue: if a non-related `operator+` is defined elsewhere, it may lead the compiler to ignore our `DGtal::functions::operator+`. It can be solve by adding `using functions::operator+` when declaring the related class but if they should always be shipped together (class and operators), it seems to me more logical to have both in the same namespace.

[2019-01-07 13:03] JacquesOlivierLachaud commented on #1362
So we should put operator+( CubicalComplex< >... ) in DGtal namespace (and not DGtal::functions) and include CubicalComplexFunctions in CubicalComplex.h

[2019-01-10 14:41] JacquesOlivierLachaud commented on #1362
ping @rolanddenis
Is the solution above ok according to you ? (putting all in namespace DGtal).

[2019-01-10 15:24] rolanddenis commented on #1362
Yep, I agree !

[2019-01-11 11:02] lfz opened #1378 "Any plan to have a python wrapper?"
Hi, thanks for this powerful toolbox, but I only know how to use python (sorry for that), do you have any plan to build a python wrapper for DGtal?

[2019-01-11 18:21] dcoeurjo commented on #1378
We have discussed about for many years ;).
There have been some partial bindings  (eg using boost python bindings) but nothing more.

In fact, we don’t have a lot of python gurus in the dev team..

If you want to participate, feel free 😊

[2019-01-15 19:16] BorisMansencal opened #1381 "Compilation with Visual Studio"
Compilation of DGtal head fails on Windows 10 (1809) with Visual Studio Community 17 (15.9.5).

PR #1380 makes the code compile with Visual Studio (15.9.5).
It makes also the following tests pass :
testLongVol
testPNMReader
testVolReader
testGenericReader
testPNMRawWriter
testGenericWriter

In Release mode, the following 4 tests still fail:
testCloneAndAliases
testClone2
testVoxelComplex
testNeigh

[2019-01-16 10:48] JacquesOlivierLachaud commented on #1381
Do you have more information on why tests are not passing ? I do not have VS to check these tests.
For testClone2, I had a version of gcc (5.4) where it fails while it works with clang (3.8), so I might have found the issue (upcoming FixClone), It is a related to a bad implicit conversion.
Can you provide error logs or try to tell us where you think is a the problem.

[2019-01-16 13:58] JacquesOlivierLachaud commented on #1203
Should be corrected by PR #1382

[2019-01-17 14:33] BorisMansencal commented on #1381
I will try to provide more details.

[2019-01-17 18:41] BorisMansencal commented on #1381
Actually, I think you can replicate at least some of the errors by compiling wih gcc with the flag -D_GLIBCXX_DEBUG
(I tested on Ubuntu 16.04 by adding this flag to CMAKE_CXX_FLAGS )

I will try to detail what I have found in the following messages.
(I am not an expert in DGtal code and concepts, so bear with me...)

[2019-01-17 18:56] BorisMansencal commented on #1381
**testFMM** fail is due to the use of an invalid iterator at src/DGtal/geometry/volumes/distance/FMM.ih:416
Basically, we have this kind of code:
[code]
If erase() is called,  'it' becomes invalid and then we compare an invalid iterator with 'itEnd'

I think that just switching the checks in the first 'if' solves the problem:
[code]

[2019-01-17 19:19] BorisMansencal commented on #1381
**testChamferDT** and **testChamferVoro** fails are due to several dereferences of out of range vector iterators.

One error common to the two tests is at src/DGtal/geometry/volumes/distance/ChamferNorm2D.ih:288
We have this kind of code:
[code]

If we have `aEnd-aBegin==2`, we enter the 'if', and `mid==aBegin+1` and `mid+1==aEnd`

I don't understand the code enough to propose a patch. There is pr

[2019-01-18 09:11] BorisMansencal commented on #1381
**testContourHelper** fail is also due to an access to an out of range iterator.

The error come from tests/geometry/testContourHelper.cpp:90
that calls src/DGtal/geometry/helpers/ContourHelper.ih:84 where we have the following code:
[code]
Here, if `it` is `ite-1` we access `*(it+2)` that point past the end of the vector.

[2019-01-18 10:33] dcoeurjo commented on #1381
thx a lot @BorisMansencal for this very insightful details..

[2019-01-24 21:48] phcerdan commented on #1370
Fixed via https://github.com/InsightSoftwareConsortium/ITK/pull/413

[2019-01-26 11:06] dcoeurjo commented on #1381
Ping @kerautret and @troussil on this one ;). I’ll hanlde the chamferDT

[2019-01-26 15:55] kerautret commented on #1381
@dcoeurjo yes I look it, and thanks @BorisMansencal for the details ;)

[2019-01-27 11:39] rolanddenis opened #1387 "Wrong result of PointVector::crossProduct in 2D"
The implementation of `PointVector::crossProduct` (see https://github.com/DGtal-team/DGtal/blob/master/src/DGtal/kernel/PointVector.ih#L551):
[code]
is only valid in 3D but may be used in 2D (i.e. return a 3D vector with only the third component not null), for example to measure a triangle surface (see e.g. https://github.com/DGtal-team/DGtal/blob/master/src/DGtal/shapes/Mesh.ih#L464).

In additio

[2019-01-27 17:39] dcoeurjo commented on #1370
thx  @phcerdan !
@skn123 can you please update your ITK and tell us if the issue is still valid?

[2019-01-28 14:02] BorisMansencal commented on #1381
**testCubicalComplex**, **testVoxelComplex** and **testParDirCollapse** fails seem all related to the same problem : comparison of iterators from different sequence at src/DGtal/topology/CubicalComplexFunctions.ih:180 and 185.
We have the following code:
[code]
`best_free_face_it` and `K.end( 0 )` are both CellMapIterators, but they can iterate on different sequences.

Here are the call stacks if

[2019-01-28 14:07] dcoeurjo commented on #1381
Thanks for the report. Ping @phcerdan

[2019-01-28 14:54] phcerdan commented on #1381
That's interesting, @JacquesOlivierLachaud might have more insight as the implementor of [CubicalComplexFunctions](https://github.com/DGtal-team/DGtal/blob/master/src/DGtal/topology/CubicalComplexFunctions.ih#L167-L185).

I can have a look it too if @JacquesOlivierLachaud is out of time. Let me know!

[2019-01-28 16:13] JacquesOlivierLachaud commented on #1381
I just had a look. I see the potential error. I use d+1 different std::map<Cell,Value> to speed up cell look-up.
Therefore there are d+1 "begin( k )" and d+1 "end( k )", one per map. In the loop, iterators are compared with end( 0 ) instead of end( k ) where k is their dimension. I used this trick to avoid the computation of the cell dimension and because I just to compare with an invalid cell.
So

[2019-01-28 16:13] JacquesOlivierLachaud commented on #1381
I am not sure if there is a fix that keeps the same efficiency. I have to think about it.

[2019-01-28 16:17] JacquesOlivierLachaud commented on #1381
Wait. Perhaps I can use an unitialized iterator and a boolean value.

[2019-02-04 17:47] #1203 closed

[2019-02-06 17:22] rolanddenis opened #1393 "Performance regression on testVoxelComplex since #1369"
It's a bit confusing but the time needed by `testVoxelComplex` seems to have increased since the PR #1369 :sweat_smile:

With GNU 5.5 and Boost 1.63 in **Release** mode, it increases from 9.4s to 14.6s:
[code]
versus
[code]

and in **Debug** mode, it increases from 1m13s to 3m51s !

It is also visible in Travis jobs between https://travis-ci.org/DGtal-team/DGtal/jobs/473287981#L2525 (98.13s) and h

[2019-02-14 09:44] dcoeurjo commented on #1393
Thanks for the report...
Ping @phcerdan & @JacquesOlivierLachaud ?

[2019-02-14 10:07] phcerdan commented on #1393
Thanks for the test, and the ping. I will have a look!

[2019-02-21 13:46] rolanddenis opened #1396 "NumberTraits doesn't work with `(unsigned) long long int` types"
For example, `SignedVersion` and `UnsignedVersion` return wrong types with, respectively, `unsigned long long` and `signed long long` types. `CInteger` also fails with those types.

Related to https://github.com/DGtal-team/DGtal/issues/146 but those types are now in the standard (C++11).

Additionally, the `digits` values for floating-point types are wrong : it returns the number of decimal digits

[2019-02-21 16:25] rolanddenis commented on #1396
Moreover, shouldn't `BigInteger` be unbounded?

[2019-02-22 12:41] dcoeurjo commented on #1396
( Impressive,  an #1396 issue citing a 7 year old #146 one;) )

[2019-02-22 12:41] dcoeurjo commented on #1396
`BigInteger` should be unbounded... indeed

[2019-02-22 12:57] rolanddenis commented on #1396
Thanks to the "Related issues" beta feature of GitHub :sweat_smile:

[2019-03-08 05:44] phcerdan opened #1399 "Add public .data() method to PointVector"
This will provide all the accesors already available of std::array: https://en.cppreference.com/w/cpp/container/array/data

https://github.com/DGtal-team/DGtal/blob/master/src/DGtal/kernel/PointVector.h#L138-L142
Const and non-const versions:

[code]

What do you think?
It will make easier and faster to interact with other libraries accepting pointers.

I haven't checked if this will be compatible

[2019-03-08 11:09] BorisMansencal commented on #1381
Currently, there are still 4 tests still failing (with Visual Studio Community 17, version 15.9.8, and Visual 19 preview, version 16.0.0 Preview 4.1 SVC1):
testCloneAndAliases
testClone2
testVoxelComplex
testNeighborhoodConfigurations

Something I forgot to mention previously about Visual compilation: when configuring DGtal with ITK, DGtal needs to be configured with the same build type as ITK, ot

[2019-03-11 14:41] dcoeurjo commented on #1399
👍 that would be great, indeed.

[2019-03-16 20:47] BorisMansencal opened #1403 "ITK and DICOM IO limitations"
I believe that there are currently two limitations relative to ITK and DICOM IO in DGtal. They are quite orthogonal, but as they are both related to ITK, I would like to discuss them both here (possibly before 1.0 release):

- **DicomReader**: currently DGtal DICOM Reader only works with a single file. The first thing it does is to get the parent directory of the file passed as parameter and read

[2019-03-17 19:28] dcoeurjo commented on #1396
We should close this one, shouldn't we ?

[2019-03-17 20:41] rolanddenis commented on #1396
Yep, fixed in #1397 !

[2019-03-17 20:41] #1396 closed

[2019-03-17 20:42] rolanddenis commented on #1387
Fixed in #1345

[2019-03-17 20:42] #1387 closed

[2019-03-17 20:43] rolanddenis commented on #1362
Fixed in #1390, thanks!

[2019-03-17 20:43] #1362 closed

[2019-03-17 20:49] rolanddenis commented on #1341
Fixed in #1345!

[2019-03-17 20:49] #1341 closed

[2019-03-17 20:54] rolanddenis commented on #1348
A temporary fix (but completely wrong) has been merged through https://github.com/DGtal-team/DGtal/pull/1345/commits/2abba3d6e18a0327c59dc7b14b3c295fa0e806f0 so that `testBasicFunctors` passes.

[2019-03-23 00:17] phcerdan commented on #1393
Hey @rolanddenis, thanks for the tests and the report!

The time regression only happens when DGtal build is on Debug mode...
The tests in Travis are not run in **Release** mode, as shown in the CMake configuration output here: https://travis-ci.org/DGtal-team/DGtal/jobs/473287981#L1566

With `CMAKE_BUILD_TYPE:STRING=RelWithDebInfo` or `Release`, the `ctest -R testVoxelComplex -v` is slightly fast

[2019-03-24 12:00] dcoeurjo commented on #1403
hi @BorisMansencal
thanks for the comments and your feedbacks. Indeed, we'd need to update the DICOM/ItK image wrapper.. Unfortunately, this won't be part of rel1.0 (to be presented next week ar DGCI).

[2019-04-17 04:18] psarahdactyl opened #1408 "Error when compiling any example with QGLViewer"
I know this problem is my fault and due to my lack of CMake expertise, but I cannot figure out how to compile examples which use the 3DViewer. When running make I get:

`/usr/local/include/DGtal/io/viewers/Viewer3D.h:66:10:  fatal error: 'QGLViewer/qglviewer.h' file not found`

Is there something in my CMake that I am missing? I am using MacOS Darwin.
[code]

[2019-04-17 11:49] copyme commented on #1408
Hi @psarahdactyl welcome to the DGtal :-) Do you have libQGLViewer installed? It is not a part of Qt distribution.

[2019-04-17 12:09] psarahdactyl commented on #1408
Hi! Thanks :) I do have it installed but I'm not sure how to make CMake find it.
In dgtal topology example CMake I see:
[code]
But I can't find where `${DGtalLibDependencies}` is set in the other CMakeLists.txt(s).

[2019-04-17 12:29] copyme commented on #1408
@psarahdactyl You can try by setting these three: `QGLVIEWER_INCLUDE_DIR`, `QGLVIEWER_LIBRARIES` and `QGLVIEWER_LIBRARY_RELEASE `. But if I am not mistaken you will need to compile this against qt4. ping @dcoeurjo

[2019-04-17 12:35] copyme commented on #1408
@psarahdactyl there is a plan to replace libqglviewer in the near future because as you see it makes problems.

[2019-04-17 12:46] psarahdactyl commented on #1408
I will try setting those.
Do you know what you'll replace it with?
Do you know if I can access the data output in your algorithms by a face and vertex matrix? Because then I could use the libigl viewer. I was looking around a little bit and saw a halfedge data structure for the triangulated surface class and this from the mesh class:
[code]

[2019-04-18 20:51] psarahdactyl opened #1409 "Is there a way to write the border of a digital set to an OBJ?"
I want to avoid marching cube type artifacts in my obj files, where some of the surface is missing on the boundaries of the voxel grid. I get these when I make a DigitalSurface or a TrianglulatedSurface from a BinaryImage of my DigitalSet.

In [this example](https://dgtal.org/doc/0.9/topology_23dBorderExtraction_8cpp-example.html#_a0), which I've gotten running on my own DigitalSet, I want to writ

[2019-04-18 21:36] copyme commented on #1409
@psarahdactyl If you want to write the border points in cases like in one from the example you refer to then you can use something like this

[code]

![image](https://user-images.githubusercontent.com/456607/56392822-2d0e1180-623b-11e9-910b-51066d2f0682.png)

[2019-04-18 22:05] psarahdactyl commented on #1409
thank you so much! I wasn't quite sure how to use the Board class.

[2019-04-18 22:21] copyme commented on #1409
@psarahdactyl Great! Could you please close the issue if the solution helped you out.

[2019-04-18 23:37] copyme commented on #1409
@psarahdactyl By the way, you do not need the loop over points. You can send the object directly, i.e., replace```
 for(auto it : bdiamond_clone.pointSet())
   board << it;  with
``` `board << bdiamond_clone;` Board3D more or less works like Viewer3D – you can send an object to it and control its appearance by modifiers: modes like `Paving` or colors, etc. I am not the best person to explain this

[2019-04-28 17:22] psarahdactyl opened #1410 "Mesh voxelization"
Hi again,
I am trying to voxelize a mesh from an STL file. First I read it in with a libigl function which gives me vertex and face matrices. Then I try to construct a Mesh from your library. however, when I voxelize it, I never get what I expect. Sometimes I get 0 voxels and for other inputs I get very low resolution results which look like only some of the mesh was voxelized.

For example for th

[2019-04-28 17:26] copyme commented on #1410
@psarahdactyl Can you provide the input STL file?

[2019-04-28 17:33] psarahdactyl commented on #1410
I made a new one that doesn't have planes
https://drive.google.com/open?id=1n6id-B4IyzgsnLCNMmENI4FL7XHZfGk9

[2019-04-28 17:34] psarahdactyl commented on #1410
<img width="918" alt="Screen Shot 2019-04-28 at 1 34 21 PM" src="https://user-images.githubusercontent.com/5149074/56867979-5c9ae780-69ba-11e9-8a82-28315b1f9101.png">

[2019-04-28 17:38] copyme commented on #1410
@psarahdactyl If you ask me then without trying the code (cannot right now) and just after seeing the mesh I will tell you that you have a wrong scaling factor i.e., 1, passed to the voxalizer. For this mesh, you should try something like 0.2, or smaller, maybe.

[2019-04-28 17:39] psarahdactyl commented on #1410
What exactly does the scaling factor do?

[2019-04-28 17:43] dcoeurjo commented on #1410
To relate the size of the voxel grid to the bounding box of your mesh.

[2019-04-28 17:46] dcoeurjo commented on #1410
cf https://dgtal.org/doc/stable/moduleMeshVoxelization.html: the scale factor will scale up (or down) your mesh and then will be digitize on a "unit" voxel grid

[2019-04-28 17:46] dcoeurjo commented on #1410
(https://dgtal.org/doc/stable/classDGtal_1_1MeshVoxelizer.html#a579ac9b0b2d8a79e3cf356acccb23b31)

[2019-04-28 17:47] psarahdactyl commented on #1410
with a scaling factor of 50.0, I get:
<img width="918" alt="Screen Shot 2019-04-28 at 1 45 41 PM" src="https://user-images.githubusercontent.com/5149074/56868101-0af35c80-69bc-11e9-82af-e27c28c1779c.png">
which makes me wonder if I can't voxelize disconnected meshes

[2019-04-28 17:48] dcoeurjo commented on #1410
You can play with the DGtalTools `mesh2vol` (https://github.com/DGtal-team/DGtalTools/blob/master/converters/mesh2vol.cpp)

The voxelizer processes the triangles one by one without any assumption on their connectivity.

[2019-04-28 17:49] copyme commented on #1410
@dcoeurjo @psarahdactyl ah sorry I messed up. In fact, I thought that the factor scales the grid and not the mesh. My bad.

[2019-04-28 17:49] dcoeurjo commented on #1410
(you can thus voxelize a triangle soup without any problem)

[2019-04-28 17:52] dcoeurjo commented on #1410
<img width="485" alt="Capture d’écran 2019-04-28 à 19 52 11" src="https://user-images.githubusercontent.com/700165/56868176-22980880-69ef-11e9-898b-b7f1f0984eb6.png">

[2019-04-28 17:52] dcoeurjo commented on #1410
the result I have on a 128^3 grid

[2019-04-28 17:55] psarahdactyl commented on #1410
and what scaling factor did you use? are you exporting to OBJ or is this in the viewer?

[2019-04-28 17:57] dcoeurjo commented on #1410
I've just converted the STL to OFF and run `mesh2vol -i test.off -o test.vol -r 128` (then `3dVolBoundaryViewer` to visualize the vol file)

[2019-04-28 17:57] dcoeurjo commented on #1410
if you want a 128^3 and if the STL file has the vertices  in [0,1)^3, the scale is just 128

[2019-04-28 17:59] psarahdactyl commented on #1410
ah, I see. does the resolution have to be a cube? or can my width/height/depth be different?

[2019-04-28 18:04] dcoeurjo commented on #1410
No, that is just a parameter of the DGtalTools.

The voxelizer will use the `domain` (hyper rectangle in Z^3)  you have specified to the `outputset` (`DigitalSet outputSet( domain );`), which can have different width/height/...

If the mesh has a huge scale factor that makes some triangles to be outside of `domain` when scaled, then they won't be voxelized.

[2019-04-28 18:06] dcoeurjo commented on #1410
BAsically, the voxelizer returns  the set of grid points in  `(scale*Mesh) \cap domain`

[2019-04-28 18:09] psarahdactyl commented on #1410
Okay! I see, that makes sense. I see the 6 and 26 connectivity; is that what you mean by stencil?

[2019-04-28 18:10] dcoeurjo commented on #1410
Exactly (template in the doc) ;)

[2019-04-28 18:11] psarahdactyl commented on #1410
Thank you both so much for your help!

[2019-04-28 18:12] dcoeurjo commented on #1410
you're welcome. Do not hesitate if you have further questions (or ping me be email).

Let me close the issue.

[2019-04-28 18:12] #1410 closed

[2019-04-28 18:28] dcoeurjo commented on #1408
https://www.glfw.org is a good candidate as a replacement of libqglviewer.

For the access to the containers, it really depends on the algorithms you are using. For Meshes (or the half edge data structure), it would be pretty simple.

[2019-04-28 18:28] dcoeurjo commented on #1408
Can I close this issue too ?

[2019-04-28 20:10] psarahdactyl commented on #1408
Yes, I'll close it. I am using glfw and libigl :)

[2019-04-28 20:10] #1408 closed

[2019-05-01 13:47] psarahdactyl commented on #1409
Sorry to ask so many questions, but say now I want to get the vertices and faces of the voxel geometry. I have been looking around the documentation and the inline header files for Display3D and Board3D and see that there is an addCube function which seems to deal with the actual geometry. Is there an easier way exposed to the user where I can access this? Maybe through the PointSet?

[2019-05-01 14:30] dcoeurjo commented on #1409
You should have a look to the brand new Shortcuts https://dgtal.org/doc/stable/moduleShortcuts.html

There are direct methods to export a digital surface to OBJ (either primal or dual surface) or to obtain easy vertices/faces accessors.

[2019-05-01 14:31] dcoeurjo commented on #1409
Like getSurfelRange or getPointelRange

[2019-05-01 17:46] psarahdactyl commented on #1409
Do I first need to make the digitalTopology into a digitalSurface?

[2019-05-06 06:50] dcoeurjo commented on #1409
Yes it is.
If you want to construct a digital surface from a set, a binary image, or a point predicate (all these objects are really close),  the `makeLightDigitalSurface` or `makeDigitalSurface` in the Shortcuts doc would do the job.

In most situations, no need to manually construct the KSpace, it is usually given by the container.

[2019-05-07 02:48] psarahdactyl commented on #1409
Thank you!

[2019-05-07 02:49] #1409 closed

[2019-06-21 17:38] BorisMansencal commented on #1403
Hi,
I have created PR #1422.
Boris.

[2019-06-24 10:36] dcoeurjo opened #1423 "TOC not available anymore in the doxygen doc"
The doxygen doc pages do not contain the table-of-content anymore.

[2019-06-24 11:52] rolanddenis commented on #1423
Where did we found the table of contents ?

[2019-06-24 11:52] dcoeurjo commented on #1423
(I'm using `doxygen 1.8.15`)

[2019-06-24 11:53] dcoeurjo commented on #1423
`[TOC]` commands in module pages

[2019-06-24 12:13] rolanddenis commented on #1423
It still work with `doxygen 1.8.11` ...

[2019-06-24 12:16] dcoeurjo commented on #1423
maybe we should use `\tableofcontents` (http://www.doxygen.nl/manual/commands.html#cmdtableofcontents)

I don't remember where the `[TOC]`comes from..

[2019-06-24 12:17] dcoeurjo commented on #1423
related: https://github.com/doxygen/doxygen/issues/6513

[2019-06-24 12:29] rolanddenis commented on #1423
Yes, it seems related: we have markdown support activated and if we add a `TOC_INCLUDE_HEADINGS` directive in the doxygen configuration, the table of contents is back.

Otherwise, `\tableofcontents` works too!

[2019-06-24 14:12] dcoeurjo commented on #1423
cf #1424

[2019-07-17 03:54] psarahdactyl opened #1430 "boolean operations on 3D digital sets"
Are boolean operations implemented for digital sets? I want to get the intersection and the symmetric difference of 2 digital sets, but I don't know where to look in the documentation/examples.

[2019-07-17 06:14] JacquesOlivierLachaud commented on #1430
Have you tried using standard c++ algorithm template functions like std::set_symmetric_difference or std::set_intersection onto the iterators provided by DigitalSet ?

https://en.cppreference.com/w/cpp/algorithm/set_symmetric_difference

`Domain D( ... );
  DigitalSet A( D );
  DigitalSet B( D );
  DigitalSet C( D );
  // modify A and B ...
  std::set_symmetric_difference( A.begin(), A.end(), B.be

[2019-07-17 18:15] psarahdactyl commented on #1430
I will try it!

[2019-07-19 07:47] JacquesOlivierLachaud commented on #1430
Is this method working ?

[2019-07-20 14:59] psarahdactyl commented on #1430
yes, it works when the output is a stl container (otherwise it doesn't compile because it complains about operators). `std::set_intersection` works but only when I transfer everything in both sets to `std::vector`s first. I feel this shouldn't be necessary but I couldn't figure out how to do it another way. here is what I ended up with:
[code]

[2019-07-20 15:57] copyme commented on #1430
@psarahdactyl Hi! Can you give us some exemplary code together with a CMakefile, please? I have a feeling that this should be simpler.

[2019-08-20 15:19] #1423 closed

[2019-08-20 15:20] dcoeurjo commented on #1370
is this issue still up to date ?

[2019-08-20 15:21] dcoeurjo commented on #1375
is this issue still open?

[2019-08-20 21:08] phcerdan commented on #1370
I don't think so. It was solved in ITK.

[2019-08-26 19:53] psarahdactyl opened #1435 "dilation and other morphological operations on digital sets"
I see an example for FMM erosion but I was wondering if other morphological operations can be applied to digital sets as well.

[2019-08-27 07:19] dcoeurjo commented on #1435
Thanks for the fast distance field extraction algorithms (FMM https://dgtal.org/doc/1.0/moduleFMM.html or separable https://dgtal.org/doc/1.0/moduleVolumetric.html), you can easily define efficient erosion/dilation of a shape with Euclidean structuring elements.

Although, we don't have yet any explicit API  in DGtal.

If you end up with something, do not hesitate to send us a Pull-request;)

[2019-10-08 12:12] dcoeurjo commented on #1435
(Closing, please reopen for further comments)

[2019-10-08 12:12] #1435 closed

[2019-10-08 12:13] dcoeurjo commented on #1430
(closing, please reopen if needed)

[2019-10-08 12:13] #1430 closed

[2019-10-08 12:29] dcoeurjo opened #1437 "ConstIteratorAdapter does not satisfy the _is_forward concept of the STL"
On the last apple clang compiler, the following code raises a build error

https://github.com/DGtal-team/DGtal/blob/c0b08384ff210fb33fb0f1067994457b3837eb9d/examples/geometry/volumes/distance/toricdomainvolumetric.cpp#L119

Here you have the error:

[code]

[2019-10-31 14:48] kerautret commented on #1437
I confirm ;(

[2019-11-04 16:40] dcoeurjo opened #1441 "Issue with the Ambrosio-Tortorelli module doc"
Cf: https://dgtal-team.github.io/doc-nightly/packageDEC.html

There is a mix betweent the DGtal DEC-AT module page and the one from DGtalTools.

Just a rename should fix the issue (ping @JacquesOlivierLachaud )

[2019-11-05 18:27] dcoeurjo commented on #1441
Fixed. Thx

[2019-11-05 18:27] #1441 closed

[2019-11-05 18:27] #1375 closed

[2019-11-05 18:28] #1370 closed

[2020-01-05 03:08] BinWang0213 commented on #1381
I have similar issues with following module failed by running RUN_TESTS:

96% tests passed, 8 tests failed out of 205
23 - testCloneAndAliases (Failed)
1>  	 24 - testClone2 (Failed)
1>  	127 - testObjectBoostGraphInterface (Not Run)
1>  	134 - testVoxelComplex (Failed)
1>  	144 - testNeighborhoodConfigurations (Failed)
1>  	167 - testITKReader (Not Run)
1>  	185 - testArrayImageAdapter (SEGFAULT)

[2020-01-07 21:27] phcerdan opened #1447 "Split and merge Khalimsky spaces"
Would it be possible to split a Khalimsky space into subspaces based on geometrical points, or origin and sizes, as is doable in images?

I am trying to parallelize an algorithm that is applied to a CubicalComplex, which is a subset of a KhalimskySpace.
A regular image, as any structured grid,  can be easily split into subimages, however I guess is not that easy when using Khalimsky spaces. But st

[2020-01-07 21:58] JacquesOlivierLachaud commented on #1447
In fact, a KhalimskySpace is different from an image in the sense that it does not hold data, it is just a way to model elements (cells) of the discrete space in a more abstract way than just playing with coordinates.
Then if you wish to create subspaces, you can just init them with different low and up points (and choose well if you want to close or open them). You can also convert coordinates to

[2020-01-07 22:32] phcerdan commented on #1447
Yes! Thanks @JacquesOlivierLachaud.

My doubts are on how to "link" the original space and the subspaces. Thinking out-loud with an example:
Original KSpace: LoweBound: (0,0) ; UpperBound: (4,4)
Sub1 : LowerBound: (0,0); UpperBound: (2,4)
Sub2 : LowerBound: (2,0); UpperBound: (4,4)

[code]

Sub1 and Sub2 would have its own Khalimsky coordinates, unrelated to Original I guess (?), so if after manip

[2020-01-07 22:50] phcerdan commented on #1447
Ok,I think I get it now, the coordinates are indeed related, I got confused with the concept of "index" in an image, which is an internal representation.
In KSpaces the zero index is the LowerBound itself.

Thanks for reading! :P

[2020-01-07 22:50] #1447 closed

[2020-01-09 18:25] phcerdan commented on #1403
@dcoeurjo This issue should be closed if the PR was merged.

Great stuff by the way @BorisMansencal, great to keep origin, spacing and direction of the images.

[2020-01-09 18:35] phcerdan opened #1449 "Warning (-Wunknown-pragmas) with gcc 9.2 in Common.h"
[code]

I tried to just push, below the current GCC diagnostic ignored
[code]
but doesn't seem to work.

[2020-01-09 21:27] dcoeurjo commented on #1403
👌you’re right..

[2020-01-09 21:27] #1403 closed

[2020-01-11 16:46] phcerdan opened #1454 "K.uGetMinT does not exists but is referenced in the doxygen file moduleCellularTopology"
I guess it should be replaced to K.uGetMin (without the final T)

[2020-01-19 14:46] #1454 closed

[2020-01-19 19:49] #1399 closed

[2020-01-19 20:08] phcerdan opened #1456 "Is there any option in Github to recognize `.ih` files as c++?"
Just to get nice formatting in reviews.

[2020-01-21 10:27] phcerdan commented on #1456
Yes it is: https://github.com/github/linguist#overrides
To add in `.gitattributes`
[code]

[2020-01-21 12:38] #1456 closed

[2020-01-31 10:57] rolanddenis opened #1458 "Missing virtual destructor in base class `CubicalComplex` with public inheritance"
`VoxelComplex` publicly inheritates from `CombicalComplex` but the later class is not designed for this: its destructor should be `virtual` so that to guarantee that a `VoxelComplex` object is correctly destroyed in all cases. In particular, in case of polymorphism, the destructor of the attributes of `VoxelComplex` will not be called thus leading to potential memory leak (attributes are `CountedP

[2020-02-23 19:22] jake-emerson opened #1461 "Compilation error in Ubuntu 18.04"
Hi all,
I'm having some trouble compiling DGtal. I built `GraphicsMagick` and `libQGLViewer` from sources. When running the following I don't get any errors:

    cmake .. -DWITH_GMP=true -DWITH_ITK=true -DWITH_CAIRO=true -DWITH_QGLVIEWER=true -DWITH_MAGICK=true

However, if I have `sudo apt install qt5-default` then I can't install `libQGLViewer` (it requires Qt4).

With `Qt4` I am getting the fo

[2020-02-24 07:55] dcoeurjo commented on #1461
Thanks for the issue report. On my ubuntu18.04, I wasn't able to reproduce your issue. There may be a problem with your qglviewer version, how did you install it ?

On 18.04, the package version is 2.6.3 (working with qt4 and qt5). With that default package version, everything works fine (both qt5 and qt4) when building DGtal.

Can you please confirm me?

[2020-02-24 09:04] copyme commented on #1461
@jake-emerson Cannot test on 18.04 but back in the day you needed:

`libqglviewer-dev-qt4, libqglviewer-headers, libqglviewer2-qt4`

[2020-02-29 22:00] jake-emerson commented on #1461
Moving to version 2.6.3 of QGLViewer fixed my original error. I stuck with `qt5`. Thank you!

Now I have an issue with linking GraphicsMagick. I tested my install with the following:

    -L/usr/local/lib
    -lGraphicsMagick++ -lGraphicsMagick -ljbig -lwebp -lwebpmux -llcms2 -ltiff -lfreetype -ljpeg -lpng16 -lwmflite -lXext -lSM -lICE -lX11 -llzma -lbz2 -lxml2 -lz -lm -lpthread -lgomp

which seem

[2020-03-01 12:56] jake-emerson commented on #1461
Based on this PR I'm wondering if I should just switch on ImageMagick.
https://github.com/DGtal-team/DGtal/pull/1366

[2020-03-01 13:05] jake-emerson commented on #1461
Scratch that. The `FindMagick.cmake` script seems to only look for GraphicsMagick:
https://github.com/DGtal-team/DGtal/blob/1.0/cmake/FindMagick.cmake

[2020-03-02 10:44] copyme commented on #1461
@jake-emerson it works here (openSUSE 15.1) with GraphicsMagick 1.3.34

[2020-03-02 10:47] copyme commented on #1461
@jake-emerson it works here (openSUSE 15.1) with GraphicsMagick 1.3.34

[2020-03-02 10:49] copyme commented on #1461
@jake-emerson I suggest compile GraphicsMagick with  `--enable-shared --disable-static`

[2020-03-02 10:50] copyme commented on #1461
@jake-emerson here you can see other compilation flags used by [openSUSE package system](https://build.opensuse.org/package/view_file/graphics/GraphicsMagick/GraphicsMagick.spec?expand=1).

[2020-03-15 13:14] dcoeurjo opened #1463 "Check travis matrix (DGtaltools and doc down)"

[2020-03-17 07:45] dcoeurjo commented on #1463
fixed

[2020-03-17 07:45] #1463 closed

[2020-03-22 15:23] dcoeurjo commented on #1461
Can this PR be closed?

[2020-03-22 16:46] dcoeurjo commented on #1348
Could this issue be closed?

[2020-03-22 17:04] kerautret commented on #1348
perhaps not I will have a look to remake the test correctly and complete some add in the doc.

[2020-04-09 08:33] kerautret opened #1474 "Example compilation issue with template spec"
Probably from the 10.15.4 update with last Xcode I get this error:

In file included from /Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin/../include/c++/v1/__string:56:
/Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin/../include/c++/v1/algorithm:2567:5: error:
      static_assert failed due to requirement
      '__is_forw

[2020-04-09 10:26] rolanddenis commented on #1474
Is that not a duplicate of #1437 ? (the `__is_forward_iterator` requirement that fails)

[2020-04-09 10:57] rolanddenis commented on #1474
Yes it is, same file, same line. Closing...

[2020-04-09 10:57] #1474 closed

[2020-04-09 12:18] rolanddenis commented on #1437
Can one of you test to replace `std::max_element` by `boost::first_max_element` that is available in `boost/algorithm/minmax_element.hpp`?
It is a proposed fix from https://github.com/boostorg/graph/issues/175 even if it will not solve the fact that `DGtal::ConstIteratorAdapter` is not strictly a forward iterator.

[2020-04-09 12:34] kerautret commented on #1474
Sorry @rolanddenis I miss it.

[2020-04-09 12:34] kerautret commented on #1437
thanks @rolanddenis I look it

[2020-04-09 14:22] kerautret commented on #1437
@rolanddenis same error ;(

[2020-04-09 14:24] kerautret commented on #1437
but no effect in fact I apply a replace but the replaces std::max were already in comments in the source file

[2020-04-09 14:56] kerautret commented on #1437
@rolanddenis excellent that fix it 🎉
Did I put in PR the change ?

[2020-04-09 15:11] kerautret commented on #1437
it is here: https://github.com/kerautret/DGtal/tree/FixConstIteratorIssue1437

[2020-04-09 15:38] rolanddenis commented on #1437
Thx, agree for the PR !

BTW I was more thinking in replacing by the boost version **only** where needed (with smart iterators like `ConstIteratorAdaptor`), so probably only in:
-  `examples/geometry/volumes/distance/toricdomainvolumetric.cpp`
- ` examples/kernel/examplePointFunctorHolder.cpp`
- `examples/tutorial-examples/shapeDTViewer.cpp`
- `examples/tutorial-examples/volDTGranulo-template.cpp`

[2020-04-09 15:41] kerautret commented on #1437
Yes agree I do it thanks

[2020-04-15 14:09] phcerdan opened #1477 "DGtal repository is quite heavy"
The size of the source folder of DGtal after a `git clone https://github.com/DGtal-team/DGtal DGtal-src` is `~360MB`.

Performing a git clone takes serious time. Even when the option `--single-branch` or `depth 1` is used.
The impact is most noticed in pipelines for CI/CD that performs a git clone.

Doing some exploration of where the size comes from:
`du -a DGtal-src | sort -n -r | head -n 30 `
[

[2020-04-15 14:55] dcoeurjo commented on #1477
waou.. thanks @phcerdan for the analysis.

I've always wanted to use bfg but I'm a bit afraid to rewrite the DGtal history. Do you have any experience with it ?

It would mean that all "clones" before the BFG clean would be dead, is that correct ?

[2020-04-15 16:35] phcerdan commented on #1477
I fear so, yes. At least those using a SHA, I would think the ones with a git-tag would be still good, but I will have to check.

I used bfg once because I contributed a password :1st_place_medal:. It worked ok, but the rewrite wasn't too big.

Reading a bit, it seems that the standard tool nowadays is:
https://github.com/newren/git-filter-repo/

The [docs](https://htmlpreview.github.io/?https://g

[2020-04-15 16:37] rolanddenis commented on #1477
Maybe a `pull --force` should be enough to sync clones and forks?

On that page (https://help.github.com/en/github/authenticating-to-github/removing-sensitive-data-from-a-repository), it is mentioned to take care to rebase and not merge any branch created before the clean-up. We probably also have to check current and future pull requests to avoid reintroducing old commits by mistake.

[2020-04-15 16:38] rolanddenis commented on #1477
Or maybe `git checkout --force origin master`?

[2020-04-15 16:40] phcerdan commented on #1477
You can always `git reset --hard origin/master`

[2020-04-15 17:46] dcoeurjo commented on #1477
All right... let’s prepare the scripts and apply them for the new 1.1 release.

Can we clean out a folder like the « build-Xcode » one for instance ?

[2020-04-19 09:45] skn123 opened #1478 "VS2019 compile error"
![dgtal_error](https://user-images.githubusercontent.com/4594354/79684621-88a91b80-8250-11ea-9a29-7d2e2967fb48.png)

What could be the reason? Of course, no problems when building in Ubuntu

[2020-04-19 10:26] JacquesOlivierLachaud commented on #1478
There is a suspect error "cannot open source file ... CUBICALCOMPLEX.H" to be checked first.
Otherwise I suspect that the compiler does not accept to befriend a template specialisation.
I am trying a workaround on my branch Fix1478. Could you test it ? (I do not have Visual Studio).
https://github.com/JacquesOlivierLachaud/DGtal/tree/Fix1478

[2020-04-19 11:14] skn123 commented on #1478
Nothing wrong with the code. The error in VS indicates that those functions have not been defined. I disabled access to those functions with a simple #ifdef statement. Now the program works. What needs to be done is to define those functions somewhere.

[2020-04-19 12:04] JacquesOlivierLachaud commented on #1478
They are defined in CubicalComplexFunctions.h

[2020-04-19 13:23] rolanddenis commented on #1478
And they are (forward) declared just few lines above so it should not worried about the definition at this step (and the error is not about a definition lack).
I will take a look on my Windows!

[2020-04-19 13:35] JacquesOlivierLachaud commented on #1478
Cool Roland ! Can you check the workaround I did in my branch mentioned above ?

[2020-04-19 16:22] rolanddenis commented on #1478
I can reproduce the issue on Visual Studio 2019 and yes @JacquesOlivierLachaud , your fix works 👍

[2020-04-19 16:59] JacquesOlivierLachaud commented on #1478
Do you think it is an acceptable workaround. I am opening to friendship all kinds of CubicalComplex operations, whatever the parameterised types, instead of restricting friendship to the ones with the same parameterised types. I think it is ok here, but I would feel better if you think the same :)

[2020-04-21 09:13] rolanddenis commented on #1478
In this social distancing time, it is not recommanded to shake hands with the first template parameter you meet but it should not break anything. I will do some more tests on Visual Studio (I am probably not used to but it is a real pain to configure) to understand why compilation fails with this two operators and not others ...

[2020-04-21 21:04] mgaillard commented on #1478
Just to tell you that I encountered the same issue in VS 2019 and the fix worked for me as well.
Thank you!

[2020-04-22 09:37] JacquesOlivierLachaud commented on #1478
Thanks for checking also !

[2020-04-23 15:35] nyorem opened #1483 "Static assertion raised in SegmentFactory when using SaturatedSegmentation"
Hi all,

I tried to use the `SaturatedSegmentation` class with a `StandardDSS4Computer` namely the following typedefs (for instance in lines 173-174 the [convex-and-concave-parts example](https://dgtal.org/doc/stable/convex-and-concave-parts_8cpp_source.html)):
[code]

and it raised a static assertion in `SegmentFactory`:
[code]

Using an `ArithmeticalDSSComputer<Iterator,Coordinate,4>` for the `R

[2020-05-18 13:43] rolanddenis commented on #1483
Hi Jocelyn and sorry for the delay :wink:

From what I understand from these classes, `StandardDSS4Computer` is just an alias to `ArithmeticalDSSComputer` with a adjacency 4. It has been implemented as a derived class whose `Self`typedef does not match the actual class leading to the concept check error that you have.

While waiting for a fix, I suggest you to use the corresponding alias, that is

[2020-05-18 14:25] nyorem commented on #1483
No worries for the delay!

Thank you for your answer, I already used your first proposition to solve the issue but a real fix would be better :wink:

[2020-05-18 14:42] rolanddenis commented on #1483
Ongoing fix : #1491

[2020-05-18 15:22] rolanddenis commented on #1449
I get these warnings only if I enable `WITH_QGLVIEWER` (and also for older versions of GCC, 7 & 8)... same for you?

[2020-05-18 15:26] phcerdan commented on #1449
I do enable `WITH_QGLVIEWER`, but I think I am getting those too in new gcc. Let me check.

[2020-05-18 15:30] rolanddenis commented on #1449
I should have checked the code before: these pragma are parsed only if `WITH_QGLVIEWER` is set: https://github.com/DGtal-team/DGtal/blob/master/src/DGtal/base/Common.h#L45 :sweat_smile:

[2020-05-18 15:52] rolanddenis commented on #1449
Clang is supposed to support the `#pragma GCC` but I don't know if XCode behaves differently... @dcoeurjo can you check on your side after removing the `#pragma clang`?

[2020-05-18 16:03] rolanddenis commented on #1449
Same warnings in GCC 10.1 (BTW thanks for the information that v10 was released :wink: )

[2020-05-20 09:11] rolanddenis commented on #1483
Should be fixed, I close the issue!

[2020-05-20 09:11] #1483 closed

[2020-05-20 11:58] nyorem commented on #1483
Thanks!

[2020-05-24 15:11] dcoeurjo commented on #1477
Just listing the commands to be performed for the release. Anything else?  @phcerdan @rolanddenis ?

[code]

[2020-05-24 15:18] dcoeurjo commented on #1477
375Mo->198Mo

[2020-05-24 15:30] phcerdan commented on #1477
That's pretty nice.

Running this script I found [here](https://stackoverflow.com/questions/10622179/how-to-find-identify-large-commits-in-git-history):
[code]

[code]

The 20mb image `examples/samples/angel.off` is not in the repo anymore, so it could be deleted?

[2020-05-24 16:14] dcoeurjo commented on #1477
thx @phcerdan
I'll check the files and update my previous comment with the commandlines

[2020-05-25 09:42] rolanddenis commented on #1477
I have also test these commands on my side, using `git count-objects -vH` to get a reliable size of the repo (ignoring current snapshot).

Before using `bfg`:
[code]

After the commands of @dcoeurjo and `git reflog expire --expire=now --all && git gc --prune=now --aggressive`:
[code]

Remaining files above 1MiB:
[code]

BTW, in the documentation of bfg, it use a mirror clone (bare repo) instead of

[2020-05-25 10:19] dcoeurjo commented on #1477
👌
Let me see if we really need the SDP files in the examples...
Just a question : if I compress ore change a PNG  file (same name). Is there a way to tell the git history to "forget" past  versions of that files and freeze the actual one?

[2020-05-25 11:39] rolanddenis commented on #1477
It seems that BFG doesn't remove files from HEAD (so that it doesn't break the repo) but I don't know if it actually removes the previous versions (I hope so).

[2020-05-25 11:54] rolanddenis commented on #1477
For example, if I add following command:
[code]
it actually removes all files bigger than 1M in the history but keep it in current branch (master). The problem is that some tags become broken, e.g. files are missing from `tags/1.0` !

BTW, it reduces the repo size to 126.93MiB only...

[2020-05-25 12:10] rolanddenis commented on #1477
So, what I mean is that it is probably not worth to clean further...

BTW, the current master has a size of 169MiB (I mean the actual files, not the git folder) so that we will probably gain more only if we resize/compress/remove some files.

[2020-05-25 12:22] rolanddenis commented on #1477
Current bigger files (> 1MiB):
[code]
for more than 83MiB

[2020-05-25 12:26] dcoeurjo commented on #1477
but it won't flatten the history for all files.. how do we force the cleanup ?

maybe if you remove a file (old version) using `bfg` but keep the file un `HEAD` with the new compressed version, it would do the job

[2020-05-25 12:35] rolanddenis commented on #1477
Do we actually want to flat all the history ?

By using a minimal size of 0, the repo size decreases to 100MiB and all previous tags are broken.

If we compress current files, maybe there is a way to use these versions also in old commits ?

[2020-05-25 12:39] dcoeurjo commented on #1477
no no
just flat the history of a given PNG if I recompress it in `HEAD`

[2020-05-25 12:40] dcoeurjo commented on #1477
e.g.:  `./src/DGtal/geometry/doc/images/dvcm-3d-hat-r.png` lossless recompress (png) 7Mo -> 174ko

[2020-05-25 12:41] dcoeurjo commented on #1477
so it'd be nice to remove all previous versions of this file

[2020-05-25 12:46] rolanddenis commented on #1477
Then I think that it is enough to commit the new version and then use `bfg` to clean history of this file. But should be cleaner to simply replace the file in the history so that to keep valid tags (maybe bfg do that)

[2020-05-25 12:48] dcoeurjo commented on #1477
agree.. I don't know if `bfg` does that

[2020-05-25 12:48] rolanddenis commented on #1477
We can also "simply" migrate these files to git lfs?

[2020-05-25 12:50] dcoeurjo commented on #1477
I've never understood how github handles `lfs` ..
As an Organisation, I don't know what is our quotas, nor how to check the current lfs usage

[2020-05-25 12:51] dcoeurjo commented on #1477
(git lfs means that all cloners are lfs enabled and know how to play with it)

[2020-05-25 12:52] rolanddenis commented on #1477
Ho I see, there is a storage and bandwidth quota: https://help.github.com/en/github/managing-large-files/about-storage-and-bandwidth-usage

[2020-05-25 12:54] rolanddenis commented on #1477
I agree: I have already migrate back to git some files just because git-lfs was not properly installed on my computer...

[2020-05-25 13:21] rolanddenis commented on #1477
For all png files:
[code]
(don't ask me about the png compression options :sweat_smile: )

[2020-05-25 13:28] copyme commented on #1477
@rolanddenis you can simply run `optipng` any Linux distribution should have it installed by default. Also, there are such tools for svg (`svgo` e.g.,), etc.

[2020-05-25 13:33] dcoeurjo commented on #1477
https://github.com/DGtal-team/DGtal/pull/1494 :)
using opting

[2020-05-25 13:33] copyme commented on #1477
Calling `optipng` on this file gave 97.55% decrease. Just by removing alpha channel, etc.

[2020-05-25 13:35] copyme commented on #1477
Ah, I see. Sorry, I have not followed the whole discussion. Anyways, good luck with that.

[2020-05-25 13:36] dcoeurjo commented on #1477
done in // :)

the compression rates are pretty nice :https://github.com/DGtal-team/DGtal/pull/1494/files

[2020-05-25 13:45] rolanddenis commented on #1477
Nice: 112MiB

[2020-05-25 13:53] rolanddenis commented on #1477
Using lossless options:
[code]

[2020-05-28 06:37] dcoeurjo commented on #1477
alright
I've added the *.png cleanup in the bfg CLI (see above) (after the compressPNG branch been merged)

Does it look good for you too?

[2020-05-28 08:31] phcerdan commented on #1477
[code]

Are the `*.png` out the repo after the compressPNG branch?

[2020-05-28 08:40] dcoeurjo commented on #1477
yes only the doc.

If I checkout an old tag ( v0.5 for instance), what would happen for a given `toto.png` file? would it be missing or replaced by the (compressed) version on the master ?

AFAIK, it'd follow the first case and I don't see any bfg option to "flatten" the history of a single `toto.png` file.

[2020-05-28 09:24] phcerdan commented on #1477
I would say the first one. The pngs won't be there.
There is a [git replace](https://gitirc.eu/git-replace.html) command that seems to use references from one object to the updated one.
But I haven't found an easy to use example. This tool seems promising...
https://github.com/newren/git-filter-repo  --- [Docs](https://htmlpreview.github.io/?https://github.com/newren/git-filter-repo/blob/docs/html

[2020-05-28 11:52] rolanddenis commented on #1477
On my side, it is replaced by a file named `toto.png.REMOVED.git-id` that contains an id.

[2020-05-28 12:14] dcoeurjo commented on #1477
alright, thx @phcerdan and @rolanddenis
Let's do this for the release 1.1

[2020-05-29 09:19] rolanddenis commented on #1477
We should maybe also consider non-referenced images:
[code]
for more than 23MiB.

I'm aware than not being referenced in a text file doesn't mean that the image should be removed but it may be a hint to save some additional space.

[2020-05-29 09:45] phcerdan commented on #1477
It's the elephant in the room, but a `DGtal-team/DGtal-docs` repo with all the docs. And a `git submodule add DGtal-team/DGtal-docs docs` here would effectively remove all images from this repo.
I know working and syncing with submodules requires some extra work for the developers.
And it would require some effort to re-structure the docs code, like moving `src/DGtal/topology/docs` to `docs/topolo

[2020-06-01 12:24] dcoeurjo commented on #1477
yes, submodule would be a smart move (even more for the dependencies)

[2020-06-04 07:49] f-fanni opened #1497 "Volumetric file formats"
Hi, I am trying to use your library with a voxelization generated by a python pipeline. I have seen there are no bindings, but it's totally fine for me to just save the output to file and then read it with you library.
However, I cannot find any specification in the docs on the formats you use, e.g. the .vol format, and with Google I find that they are not standard (the .vol ) or I find this repos

[2020-06-04 15:32] dcoeurjo commented on #1497
thanks for the feedback @f-fanni . I definitely agree, we should precisely describe the vol format in the doc.
Actually it is just an ASCII header with a (zip) compressed `unsigned char` volumetric buffer. It is briefly described here https://github.com/dcoeurjo/VolGallery/tree/master/tools
e.g.
[code]
The easiest way to play with vol files would be to consider the `vol2raw` and `raw2vol` tools fr

[2020-06-04 15:33] dcoeurjo commented on #1497
Let's keep this issue open (the actual link in the doc page to the simplevol project --that contained the VOL specs-- is not active anymore).

[2020-06-04 16:16] f-fanni commented on #1497
Thanks for the quick reply.
I agree, the raw format seems the way to go for testing. I assume it is one unsigned char per voxel, with 0/1 for outside/inside, is it correct?

[2020-06-04 16:33] dcoeurjo commented on #1497
yep, that's correct.
Feel free to fill up an issue if you need help

[2020-06-11 08:01] nyorem opened #1501 "Segmentation fault in Release mode when using g++ 10.1.0"
Hi,

I'm using DGtal 1.0 on Linux and I'm encountering a weird issue where the following code correctly builds but raises a segmentation fault when running it in Release mode with g++ 10.1.0 (and not when building in Debug mode or when using g++ 9.3.0):

[code]

I compile this code with the following command: `g++ main.cpp -DNDEBUG -O3 -lDGtal -o main` (`-DNDEBUG -O3` are the flags added by CMake

[2020-06-11 08:31] JacquesOlivierLachaud commented on #1501
Really weird. I do not have gcc 10 on my Mac yet. I had a look at the code. The segfault may be linked to the DirIterator or to infinite recursion, but I do not see why. Most of these methods are stable since 8 years (apart from the division in KhalimskyPreSpaceND like 4 years ago). Can you try to trace the calls to uAddFace (since debug works !) ?

[2020-06-11 09:21] copyme commented on #1501
@nyorem Hi! Could you compile your code using LLVM with enabled memory sanitizer? See here: [https://clang.llvm.org/docs/MemorySanitizer.html](https://clang.llvm.org/docs/MemorySanitizer.html )

[2020-06-11 09:30] dcoeurjo commented on #1501
Or just ˋvalgrind`?

[2020-06-11 09:43] nyorem commented on #1501
@JacquesOlivierLachaud using gdb, I have an infinite recursion in  `uAddFaces`, which is confirmed by the valgrind trace below.

 @dcoeurjo using valgrind, I have a stack overflow, see the error message below:
[code]

@copyme I'll try to also do what you propose, I didn't try building it with clang since I don't have it on my machine.

[2020-06-11 14:28] rolanddenis commented on #1501
Same issue on Ubuntu 18.04 with GCC 10.1.0 in Release mode but not in Debug mode. No error with LLVM 10.0.0 in both mode.

[2020-06-11 15:10] rolanddenis commented on #1501
Also fails with `KhalimskyPreSpaceND` and associated cells.

Weird bug: I have added some printf (old fashion debugging :wink: ) in `KhalimskyPreSpaceND::uAddFaces`:
[code]

I get the following output with GCC 10.1 (first 10 lines):
[code]
(like `uIncident` always returns the input cell) while the following with LLVM:
[code]

But everything goes fine if I add a dummy print in `uIncident` function:

[2020-06-11 16:44] JacquesOlivierLachaud commented on #1501
Faces f1 and f2 are incorrect but clearly uIncident cannot produce such an output (it adds or subtracts 1). I have doubts about updateKCoordHelper. But the added "printf" suggests an unitialized variable or forgotten return value;

[2020-06-11 16:57] rolanddenis commented on #1501
My tests was with `KhalimskyPreSpaceND`directly so without using `updateKCoordHelp`. But I agree about the uninitialised variable of forgotten return value, it seems like an undefined behaviour ...

[2020-06-11 21:30] rolanddenis commented on #1501
A minimal example:
[code]
with following output:
[code]

I end up looking at the `find` method of `PreCellDirectionIterator`: removing the while loop and `myDir` increment makes example working (but it doesn't come from the `even` function since a simple `% 2 == 0` also fails)

So unless there is another part with an undefined behaviour, I am tempted to think that it is bug of the compiler...

[2020-06-14 13:22] kerautret commented on #1136
@dcoeurjo actually I tried to use CGAL to make run again the 3dLocalEstimators but impossible to do it on my computer, I tried different config using brew, of from CGAL source and always the same message:
` The requested CGAL component Eigen3 does not exist!`
While it is well found with by DGtal.

[2020-06-14 13:24] kerautret commented on #1136
Did the @DGtal-team/package-managers have the same issue ?

[2020-06-14 15:23] dcoeurjo commented on #1136
When using monge/Jetfitting estimator from CGAL,  CGAL must have been compiled with the Eigen3 option.

[2020-06-14 15:24] dcoeurjo commented on #1136
for instance, I don't know if CGAL ubuntu packages is shipped with the Eigen option.

[2020-06-14 15:27] kerautret commented on #1136
ok I see I try

[2020-06-14 15:27] kerautret commented on #1136
thanks

[2020-06-14 15:56] kerautret commented on #1136
I had it by compiling CGAL with Eigen option.

it looks like it will no help :(
But it could be useful since I get several errors in 3dLocalEstimators.cpp

[2020-06-15 09:11] rolanddenis commented on #1136
I have the same issue (self-compiled CGAL with available Eigen3). By looking at the cmake scripts, it seems that Eigen3 is not seen as a component anymore since version 4.12 of CGAL. It is maybe related to the header-only mode of CGAL and the detected of Eigen3 is delayed at the final compilation (e.g. DGtal or DGtalTools).

[2020-06-16 13:22] rolanddenis commented on #1501
GCC 10.1 bug confirmed: initial message (https://gcc.gnu.org/pipermail/gcc-help/2020-June/139060.html) and answer (https://gcc.gnu.org/pipermail/gcc-help/2020-June/139062.html). Seems to be fixed in the trunk of GCC while addressing another bug.

Updated minimal case (without DGtal): https://gcc.godbolt.org/z/EC4WYZ

[2020-06-16 16:11] rolanddenis commented on #1501
@nyorem A workaround can be to add a default move constructor to `PointVector`:
[code]
e.g. at line 732 of https://github.com/DGtal-team/DGtal/blob/master/src/DGtal/kernel/PointVector.h#L732 but you should avoid GCC 10.1 if possible...

The bug also arise in the test suite in Release mode. Here are the time to run all tests:
- LLVM 10.0.0: 6.49s
- GCC 7.5: 6.26s
- GCC 10.1: >> 15 mn (aborted) with

[2020-06-16 16:56] nyorem commented on #1501
Thank you for your analysis, I'll try to do what you suggest and avoid using GCC 10.1 (which is kind of impossible on Archlinux but I'll deal with it).

[2020-06-16 17:55] rolanddenis commented on #1501
You can still use LLVM?

[2020-06-16 18:24] nyorem commented on #1501
Yes I can, I didn't think of that. Thanks for the suggestion!

[2020-06-24 18:57] phcerdan commented on #1501
Could we add a CMake warning about this issue?

[code]

[2020-08-28 10:22] rolanddenis commented on #1501
Sorry for the delay ! Good idea, could you submit a related PR?

BTW, the issue is fixed in GCC 10.2.0 :+1:

[2020-08-28 10:45] phcerdan commented on #1501
Sure, omw!
Yeah, I also checked that is solved in GCC 10.2.0 :sparkles:

[2020-08-28 11:10] phcerdan opened #1507 "CI failures because Eigen download"
Bitbucket download links are broken: https://bitbucket.org/eigen/eigen/get/3.2.10.tar.bz2

Eigen moved to gitlab: https://gitlab.com/libeigen/eigen

The url should be updated to something like: https://gitlab.com/libeigen/eigen/-/archive/3.3.7/eigen-3.3.7.tar.bz2

[2020-08-28 12:25] dcoeurjo commented on #1507
ouch.. thanks for the report.

[2020-09-02 16:19] #1507 closed

[2020-09-03 06:11] #1501 closed

[2020-09-13 11:24] skn123 opened #1509 "Compilation error - clang - Ubuntu 20.04"
`/home/sumit/srcs/DGtal/src/DGtal/io/colormaps/GradientColorMap.ih:227:32: error: no viable conversion from '__wrap_iter<std::__1::vector<DGtal::Color, std::__1::allocator<DGtal::Color>>::const_pointer>' to '__wrap_iter<std::__1::vector<DGtal::Color, std::__1::allocator<DGtal::Color>>::pointer>'
  std::vector<Color>::iterator it = myColors.begin();
                               ^    ~~~~~~~~~~~~~

[2020-09-13 11:38] rolanddenis commented on #1509
Hi,

thanks for the report!

I suppose you are using DGtal v1.0? This error should be fixed since https://github.com/DGtal-team/DGtal/commit/a005ca37bae2a3d1c512484f86de5cae0e579075 (merged in https://github.com/DGtal-team/DGtal/pull/1486) ... could you try with the master and let me know if it also works for you?

[2020-09-13 11:45] skn123 commented on #1509
I have done a fresh checkout from master

[2020-09-13 12:04] rolanddenis commented on #1509
Can you please double check? I ask you that because the beginning of the error message
[code]
doesn't match the [current state of this file](https://github.com/DGtal-team/DGtal/blob/master/src/DGtal/io/colormaps/GradientColorMap.ih#L236):
[code]

About your specifications, did you mean Clang-10 or do you used the still-in-development version 11 of Clang?

I will take a look at your another error l

[2020-09-13 12:27] skn123 commented on #1509
@rolanddenis I am building everything with -std=c++17 -stdlib=libc++.
I fixed that error with const_iterator. Now, due to c++17, I am getting a different error:
`In file included from /home/sumit/srcs/DGtal/examples/doc-examples/exampleCatch.cpp:48:
In file included from /home/sumit/srcs/DGtal/examples/doc-examples/DGtalCatch.h:10:
/home/sumit/srcs/DGtal/examples/doc-examples/catch.hpp:6078:26: er

[2020-09-13 12:40] skn123 commented on #1509
I have a feeling that DGtal (tests) are not configured for c++17 (stdlib=libc++) ?

[2020-09-13 13:27] rolanddenis commented on #1509
:+1:

Yes, you're right: https://en.cppreference.com/w/cpp/algorithm/random_shuffle
It should be replaced with `std::shuffle` using an appropriate random generator. I will submit a separate issue to update Catch to the last version (before v2) that should fix this issue.

It works for me with ITK 4.12. I will try with 5.2 later but I think this check can be safely removed now (added in 2012...)

Y

[2020-09-13 13:35] rolanddenis commented on #1509
The error with Catch is also fixed in master since https://github.com/DGtal-team/DGtal/pull/1419, so you shouldn't get this error with the master of DGtal.

[2020-09-17 14:17] rolanddenis commented on #1509
BTW, beside some issues (with ITK, with detection of components of CGAL -- see #1136# --, and a small fix in `Viewer3D.ih`), all tests and examples compile fine with `-std=c++17` (Ubuntu 18.04, LLVM 10.0.0).

[2020-09-24 11:18] #1478 closed

[2020-09-25 12:39] dcoeurjo commented on #1477
okay.. in prep to 1.1 release, I've tested the bfg pipeline on a fork and everything seems to be fine.

[2020-09-29 09:24] akrah opened #1512 "Differences in length estimations from DGtal v1.0 to v1.1"
I found some differences into DSS, FP and MLP from DGtal v1.0 to v1.1.

the [lenghtEstimators tool documentation](https://dgtal-team.github.io/doctools-nightly/lengthEstimators.html) proposes an example where there is the following differences between if using DGtal v1.0 (green curves) or v1.1 (purple).

I currently suppose this is relative to the introduction of deal with Circulators, but I didn'

[2020-09-29 09:26] akrah commented on #1512
Add a mention to PR 1429.

[2020-10-02 08:43] dcoeurjo commented on #1477
Well. So I ran the bfg tool and forcepush to github. The repo is now 230Mo instead of 390Mo (expected size was 159Mo).
Some `bfg` commits have been rejected by github because of hidden refs to some branches.

At this point, I have found any solutions for the remaining commits but I'm fine with the 230Mo total anyway;)

[2020-10-09 15:29] #1477 closed

[2020-10-09 15:29] #1461 closed

[2020-10-09 15:30] #1348 closed

[2020-10-09 15:30] #1136 closed

[2020-10-09 15:31] #1239 closed

[2020-10-09 15:31] dcoeurjo commented on #1265
ping @JacquesOlivierLachaud

[2020-10-10 07:39] JacquesOlivierLachaud commented on #1265
I do not think there is an issue here. DomainAdjacency::isAdjacentTo calls myAdjacency.isAdjacentTo, which is perfectly fine. The same holds for isProperlyAdjacentTo. Am I missing. something ?

[2020-11-08 17:58] phcerdan commented on #94
As a reference to what you were illustrating, I link this paper of yours in arxiv: https://arxiv.org/pdf/0906.2767.pdf

[2020-11-10 09:43] JacquesOlivierLachaud commented on #94
Thanks for the link and the rebase.

[2020-11-10 11:37] #1246 closed

[2020-11-12 19:44] #1378 closed

[2020-11-12 19:46] #1497 closed

[2020-11-19 17:12] phcerdan opened #1533 "KhalimskyCell and KhalimskyPreCell: are both types needed?"
I get the difference between KSpace and KPreSpace, but I don't see the difference between `KCell` and `KPreCell`.
Basically, a `KCell` `has-a` `KPreCell`, but they do share the same interface.

Do we need both types? What am I missing? @rolanddenis @JacquesOlivierLachaud

[2020-11-20 11:38] rolanddenis commented on #1533
Yes but automatic conversion is disabled from `KPreCell` to `KCell` and `KhalimskySpace` only accepts `KCell` for "critical" functionalities. A `KPreCell` can only be converted to `KCell` through specific methods of `KhalimskySpace`. The idea was to ensure (at least in Debug mode) that `KhalimskyCell` are valid (ie inside the bounds) while being able to do some nasty manipulations on coordinates o

[2020-11-20 12:21] rolanddenis commented on #1533
I think there was also another reason : for periodic boundaries, coordinates must be kept inside the domain where moving through the boundaries. There is two way of doing this :
1. applying the modulo each time the coordinates are read,
2. applying the modulo only when the coordinates are modified.

For performance reasons, the second option is better but it implies to control coordinate modificat

[2020-11-20 12:44] JacquesOlivierLachaud commented on #1533
Roland is right. At the origin, I wished to encapsulate "movements" of cells through methods in KhalimskySpaceND, so that the user is not dependent on the chosen representation of a cell.
What I had in mind was my "optimized" model of Khalimsky space, where every cell is coded entirely in one int (or int64).
The idea was that, in a bounded space, we can dedicate a few bits for each coordinate, a f

[2020-11-20 15:34] phcerdan commented on #1533
Thanks @rolanddenis @JacquesOlivierLachaud for the clarifications, they make sense.

@JacquesOlivierLachaud I really liked the idea of FastKSpace after reading your article and some parts of your branch (I read the `Code` part, generated by joining `BitFields`, where a field can encode: coordinate, topology, orientation. It might be worth the effort to re-implement the idea on a `DigitalSetEncoded

[2020-11-20 15:34] #1533 closed

[2020-11-21 16:56] JacquesOlivierLachaud commented on #1533
This is exactly the idea ! I would be glad to help you/discuss with you on this topic when you have the time.
It's unlikely I will do it in the next months (since I already postponed it for quite a number of years :-D )

[2020-11-23 08:21] rolanddenis commented on #1533
@phcerdan A new `PreCell` should not be needed since it is dedicated to unbounded spaces (that is incompatible with encoding) but instead just a `FastCell` that owns a `Code` and can be converted to a `PreCell` (but not owning it).

[2020-11-23 08:49] phcerdan commented on #1533
I see, thanks @rolanddenis.
We would need:
- KhalimskySpaceEncoded.h
- DigitalSetEncoded.h
- CellEncoded.h or `FastCell`

[2020-12-02 15:11] phcerdan opened #1536 "Failing test: testHDF5Reader"
[code]

[2021-01-05 15:41] danoan opened #1540 "Use of uninitialized variable in NGon2D.ih"
In line 98 of file **DGtal/shapes/parametric/NGon2D.ih**, the variable angle uses itself in its definition

[code]
I suggest to rewrite as
[code]

A consequence of this error can be materialized by digitizing a triangle

[code]

![triangle](https://user-images.githubusercontent.com/5845458/103666044-66893200-4f74-11eb-8528-bfff0f7d6ea1.png)

[2021-01-11 13:03] phcerdan commented on #1540
Fixed in #1541

[2021-01-11 13:03] #1540 closed

[2021-01-11 13:09] phcerdan opened #1542 "Failing doxygen after CMake modernization"
[code]

[2021-01-12 12:45] phcerdan opened #1544 "CMake: Create realocatable packages: improve Find[GMP, CAIRO, QGLViewer, Magick++ FFTW3].cmake to create imported targets."
`DGtal` is not relocatable (the install tree cannot be moved to other computer) when compiled with these dependencies.
The installed DGtal target contains full paths to the `Foo_INCLUDE_DIRECTORY` and/or `Foo_LIBRARIES`, which makes it not reallocatable.
This is not a problem if we know beforehand where these dependencies will be installed (homebrew, specific OS, etc.) but it is cumberstone to set

[2021-01-12 15:56] dcoeurjo commented on #1544
Thanks @phcerdan for the link.. it looks like Pablo Arias "Don't do that" example looks pretty similar to the current DGtal setting ;)

[2021-01-12 15:57] dcoeurjo commented on #1544
Very intersting reading

[2021-01-12 16:33] phcerdan commented on #1544
Hehe a bit, at least now we don't modify `CXX_FLAGS` or use global `include_directories`, `link_libraries`!
The good thing is that the core DGtal (without those dependencies) is indeed relocatable, but some tweaking would be needed if we are interested in shipping DGtal with those extra deps.

[2021-01-14 09:10] #1542 closed

[2021-01-14 12:22] phcerdan opened #1545 "CI: DGtal-team.DGtal Expected — Waiting for status to be reported"
It is reported here:
https://github.community/t/azure-pipelines-2-copies-stuck-expected-waiting-for-status-to-be-reported/18380/6

The workaround seems to disable the pipeline check (but let the others):
![image](https://user-images.githubusercontent.com/3021667/104590376-88b53b00-566b-11eb-937d-7c2ff7956a75.png)

[2021-01-14 14:14] dcoeurjo commented on #1545
Thanks @phcerdan, done ;)

[2021-01-14 14:14] #1545 closed

[2021-02-23 15:54] dcoeurjo opened #1552 "Timing issue for testPlaneProbingParallelepipedEstimator"
Following  https://github.com/DGtal-team/DGtal/pull/1547, the unit test is 12min long on travis (which is a lot for a unit test).

@nyorem @JacquesOlivierLachaud

[2021-02-23 15:54] dcoeurjo commented on #1552
https://github.com/DGtal-team/DGtal/pull/1547#issuecomment-784296860

[2021-02-23 16:17] JacquesOlivierLachaud commented on #1552
Oups, I did not see that.

[2021-02-24 09:15] nyorem commented on #1552
Sorry, I was checking unit tests when compiled in Release mode, I'll submit a PR shortly.

[2021-02-25 15:54] dcoeurjo commented on #1552
Thanks !

[2021-02-25 15:54] #1552 closed

[2021-04-05 09:07] dcoeurjo opened #1556 "Build issue on macOS with recent Qt5 package from homebrew"
When building DGtal with an updated homebrew install, I get this error:

[code]

Seems to be related to https://github.com/Homebrew/brew/issues/10841

[2021-04-05 09:49] #1509 closed

[2021-04-05 17:20] dcoeurjo commented on #1536
Mmm.. a bit strange, the test is passing on my mac... (hdf5 1.12.0)

[code]

could you please double check the issue?

[2021-04-05 17:21] dcoeurjo commented on #1213
looks fine now.. closing

[2021-04-05 17:21] #1213 closed

[2021-04-05 17:22] dcoeurjo commented on #1327
This issue may be deprecated. Let's close it and do not hesitate to re-open it if needed.

[2021-04-05 17:22] #1327 closed

[2021-04-05 17:26] dcoeurjo commented on #1268
Looks ok with the last  boost 1.75.
Should we keep this issue open?

[2021-04-06 07:47] rolanddenis commented on #1268
Still fails on my side with GCC 10.2.0, Eigen 3.3.9 and Boost 1.75.0 ... Does it work on your side ?

[2021-04-06 07:51] dcoeurjo commented on #1268
Ok so the problem does not come from boost 1.75 itself, maybe a combo GCC10+boost1.75.
(clang+boost1.75 is fine).

[2021-04-06 08:13] rolanddenis commented on #1268
Fails also with LLVM 10.0.0, Boost 1.75.0 and Eigen 3.3.9 (Ubuntu), strange...

[2021-04-06 12:59] dcoeurjo commented on #1556
Ok the bug is due to homebrew qt default version that is qt6 right now (even if you have used `qt@5` in the cmake).
A work around is to remove qt and only keep qt@5 (or unlink qt@6)

[2021-04-06 14:54] rolanddenis commented on #1268
I cannot test on Boost 1.58.0 anymore but looking at code of `DiscreteExteriorCalcul` shows that it depends on Boost for `boost::array` and `boost::unordered_map`. Naively replacing `boost::unordered_map` by `std::map` to define `myProperties` leads to another, but still invalid, result. Using `std::unordered_map` leads to a correct result for this specific comparison but another one fails just af

[2021-04-06 15:21] rolanddenis commented on #1268
In [`DiscreteExteriorCalculus::updateIndexes`](https://github.com/DGtal-team/DGtal/blob/master/src/DGtal/dec/DiscreteExteriorCalculus.ih#L609), index associated to each cell depends on the read order of `myCellProperties`.
In [`DiscreteExteriorCalculus::derivative`](https://github.com/DGtal-team/DGtal/blob/master/src/DGtal/dec/DiscreteExteriorCalculus.ih#L324), this index is used as column index t

[2021-04-27 18:30] dcoeurjo commented on #1556
the unlink fixes the problem (macOS related)

[2021-04-27 18:30] #1556 closed

[2021-04-27 18:32] dcoeurjo opened #1562 "Merge/Clarify NumberTraits vs IntegerConverter"
Following #1539
* move the integer casts gmp->int64 from IntegerConvertor to Numbertraits (and/or fix the existing ones their)
* maybe rename IntegerConverter to IntegerPointConverter for the point/vector cast features

[2021-04-29 06:38] dcoeurjo opened #1566 "checkLatticeBallQuickHull does not compile if GMP not installed"
Cf the trace here:   https://github.com/DGtal-team/DGtal/runs/2464167055?check_suite_focus=true#step:6:141

[2021-04-29 09:32] dcoeurjo commented on #1566
fixed in #1567

[2021-04-29 09:32] #1566 closed

[2021-05-04 15:08] phcerdan commented on #1536
I have faced other issues with HDF5 (from ITK) when running tests from an unclean build. Closing it, will re-open if I see it again.

[2021-05-04 15:08] #1536 closed

[2021-05-19 13:10] dcoeurjo opened #1572 "testIntegerConverter.cpp fails to build when GMP not activated."
[ 46%] Linking CXX executable testLinearizer
/Users/davidcoeurjolly/Sources/DGtal/tests/kernel/testIntegerConverter.cpp:64:10: error: no type named 'BigInteger' in namespace 'DGtal'
  DGtal::BigInteger small_bigint  = 0x12345678;
[code]

[2021-05-19 13:11] dcoeurjo commented on #1572
Same for testIntegerConverter @JacquesOlivierLachaud

[ 13%] Building CXX object tests/kernel/CMakeFiles/testIntegerConverter.dir/testIntegerConverter.cpp.o
/Users/davidcoeurjolly/Sources/DGtal/tests/kernel/testIntegerConverter.cpp:64:10: error: no type named 'BigInteger' in namespace 'DGtal'
  DGtal::BigInteger small_bigint  = 0x12345678;
[code]

[2021-05-19 13:11] dcoeurjo commented on #1572
ping @JacquesOlivierLachaud

[2021-05-23 08:10] dcoeurjo opened #1573 "Dgtal does not build on Mac M1 because of Catch"
In file included from /tmp/DGtal/examples/doc-examples/exampleCatch.cpp:48:
In file included from /tmp/DGtal/examples/doc-examples/DGtalCatch.h:10:
/tmp/DGtal/examples/doc-examples/catch.hpp:7868:13: error: unrecognized instruction mnemonic, did you mean: bit, cnt, hint, ins, not?
           CATCH_BREAK_INTO_DEBUGGER();
           ^
/tmp/DGtal/examples/doc-examples/catch.hpp:7582:79: note: expande

[2021-05-25 09:23] dcoeurjo commented on #1573
fixed in #1569

[2021-05-27 20:18] dcoeurjo commented on #1573
Ok.. not fixed apparently. Catch2 2.13.6 not working on M1 as well

[2021-05-28 10:49] dcoeurjo opened #1574 "Qt5 issue on MacOS"
I'm having issues with qt@5 on mac (homebrew). The current package seems to require C++14 or c++17 std.

@kerautret @JacquesOlivierLachaud do you have the same issues ?

[2021-05-28 12:38] kerautret commented on #1574
I am using a local installation of Qt5, I can try to switch if you want

[2021-05-28 13:20] dcoeurjo commented on #1574
After installing qt@5 with homebrew (you can remove later) and the following cmake:

       cmake .. -DCMAKE_PREFIX_PATH=$(brew --prefix qt5)  -DWITH_QT5=true  -DWITH_QGLVIEWER=true

are you able to build the project ?

[2021-05-28 13:24] kerautret commented on #1574
let me try

[2021-05-28 13:49] kerautret commented on #1574
That is fine for me...  Numerous usual OpenGL warning..
<img width="738" alt="Capture d’écran 2021-05-28 à 15 47 53" src="https://user-images.githubusercontent.com/772865/119993631-13b82180-bfcc-11eb-98a4-dbf7263d30f3.png">

[2021-06-01 11:28] dcoeurjo commented on #1574
Ok the issue comes from having `qt` (current version is 6) and `qt@5` in homebrew.
Removing qt (@6) and reinstalling `qt@5` solve the problem.

[2021-06-01 11:28] #1574 closed

[2021-06-01 11:30] dcoeurjo opened #1575 "Appveyor bot needs an upgrade"
@kerautret the appveyor script tries to download a file that is no longer available:

[code]

[2021-06-01 11:31] dcoeurjo commented on #1575
Could you please have a look @kerautret ?

[2021-06-01 11:32] kerautret commented on #1575
args yes the server do no more exist, I change it! Thanks!

[2021-06-01 12:58] dcoeurjo commented on #1575
👌thx

[2021-06-01 14:49] dcoeurjo commented on #1575
Thx! merged

[2021-06-01 14:49] #1575 closed

[2021-06-02 06:38] dcoeurjo commented on #1572
fixed in #1569

[2021-06-02 06:38] #1572 closed

[2021-07-28 15:54] dcoeurjo commented on #1573
Fixed #1590

[2021-07-28 15:54] #1573 closed

[2021-07-31 08:28] fpaupier commented on #1556
I encountered the same problem on macOS Big Sur (version 11.4) - a brew update installed qt6 and messed up my local qt install.

By running `brew list | grep qt` I found out there was `qt@5` and a `qt` formulae, the `qt` was the version 6. I ran `brew remove qt` and it solved the issue.

[2021-09-10 13:53] ngophuc opened #1606 "Issue of linking on DGtal website"
I write to report you that there are problems with the links in official website of dgtal, in particular: https://dgtal.org/aboutme/ in the section "Features Digital Geometry Tools and Algorithms".
All links in this section, except the first one of DGtal, are in 404 error (this page doesn't exist.
Move along. (404 error)).

[2021-09-11 08:35] dcoeurjo commented on #1606
Oh I see... thanks for the report.

[2021-09-20 14:40] dcoeurjo commented on #1606
This has been fixed. thanks for the issue.

[2021-09-20 14:40] #1606 closed

[2021-10-11 21:55] kerautret opened #1612 "ITKWriter fails to write images"
By trying to export ITK image I have now an error like that (both on my computer on MacOS with  ITK > 5 or on linux):
![Capture d’écran 2021-10-11 à 23 45 37](https://user-images.githubusercontent.com/772865/136859353-f4768d3c-8e3f-44e0-8951-d637ef662342.png)
It compiles but gives such errors whatever the type used.
<img width="673" alt="Capture d’écran 2021-10-11 à 23 46 20" src="https://user

[2021-12-07 12:14] dcoeurjo opened #1619 "Build issue with ITK on Apple Silicon"
When build DGtal on a M1, there is no problem except when setting `-DWITH_ITK=true` which produces:

[code]
Ping @kerautret

[2021-12-07 12:15] dcoeurjo commented on #1619
Have you already epxerienced something like that @kerautret ?

[2021-12-07 13:47] kerautret commented on #1619
yes I see it on the GitHub Actions when trying to activate ITK on MacOS build, it looks like that the include of cmath.h  from Xcode build system find first the math.h of /usr/local/include before the one of Xcode Tools chain.

[2021-12-07 14:59] kerautret commented on #1619
Same problem here trying to activate ITK and macos GitHub Actions: (with a cmake small try fix)
https://github.com/kerautret/DGtal/runs/4445372646?check_suite_focus=true

[2021-12-08 22:00] kerautret commented on #1619
@dcoeurjo have you tried to use the the CommandLineTools SDK instead the XCode SDK, by using:
`sudo xcode-select -s /Library/Developer/CommandLineTools`
It looks to be better when using ITK from brew (I tested on my non M1 Mac it works while also failing with Xcode SDK)

[2021-12-13 07:41] dcoeurjo commented on #1619
THanks for the tip, I'm not super fan of changing the SDK globally.. (I wasn't expecting that the command line has a different sdk than Xcode.. weird..)

[2021-12-17 11:00] kerautret commented on #1619
I am agree not ideal, for instance I detected that Unreal Engine was no more working by using this SDK! 😱

[2021-12-17 13:26] kerautret commented on #1619
@dcoeurjo I tested a simple ITK helloworld  project and it fails from the same errors so the problem is not related to DGtal itself but more from brew/ITK/osXSDK. I try to ask it on the ITK dev forum if they get a good workaround to fix it :).

[2022-01-11 08:11] dcoeurjo opened #1627 "Check scaling issues in Poisson problems with PolygonalDEC operators"
cf #1603

[2022-01-20 11:10] aramadancs opened #1629 "Bug in DGtal::functions::Hull2D::computeHullThickness"
The function returns 0 for a convex hull calculated using MelkmanConvexHull. I included the points of the convex hull directly.
[code]

[2022-01-20 16:52] aramadancs commented on #1629
This is a patch of a fix I was testing locally. I assume it's related to the tolerance of Pi comparison.
[Hull2DHelpers.il.patch.txt](https://github.com/DGtal-team/DGtal/files/7907044/Hull2DHelpers.il.patch.txt)

[2022-01-21 08:48] troussil commented on #1629
Let me ping @kerautret in my turn! I think he wrote the part about thickness computation.

(Note however that MelkmanConvexHull is guaranteed to properly work only with integer points, but not with real points due to possible inexact float comparisons.)

[2022-01-21 08:52] dcoeurjo commented on #1629
👍 thx @troussil, I thought it was from you.

Looking at the patch, the angle computation is a bit weird for just a sign of a determinant (even if computed on real numbers). @kerautret ?

[2022-01-21 10:04] kerautret commented on #1629
Thanks for their report @aramadancs  and the patch !
I look it asap

[2022-03-22 14:54] ngophuc opened #1639 "Issue of links on DGtal website"
I write to report you that there are problems (404 error) with the links in official website of dgtal, for instance :
https://dgtal.org/doc/stable/modulePlaneProbing.html
https://dgtal.org/doc/stable/classDGtal_1_1PlaneProbingTetrahedronEstimator.html

[2022-03-24 09:29] dcoeurjo opened #1640 "Documentation issue in RawReader"
Checking https://dgtal-team.github.io/doc-nightly/structDGtal_1_1RawReader.html, the code snippet is incorrect as you have to add the domain extent as parameter to the `importRaw`

[2022-03-24 09:30] dcoeurjo commented on #1640
Additionally, how does this work for the GenericReader?

[2022-03-24 09:45] kerautret commented on #1640
Agree the doc is wrong the dim is missing in the example. For GenericReader, from the test is see you can specify the domain:  DGtal::GenericReader<Image2D32bits>::import(filenameImage5, 5, 5)

[2022-03-24 09:49] kerautret commented on #1640
I will correct the doc and perhaps check genericReader to avoid call without dim like the doc example.

[2022-03-24 11:38] dcoeurjo commented on #1640
yeah that would be great

[2022-06-14 14:15] dcoeurjo commented on #1627
Fixed in #1643

[2022-06-14 14:15] #1627 closed

[2022-06-19 23:24] kerautret commented on #1629
Done https://github.com/DGtal-team/DGtal/pull/1647 with some updates and including the example in tests.

[2022-07-10 21:06] kerautret opened #1652 "Add exact computeHullThickness instead angle tolerance"
As discussed in this PR:
https://github.com/DGtal-team/DGtal/pull/1647

[2022-07-28 13:41] dcoeurjo opened #1655 "SurfaceMeshReader/Writer should be documented in moduleIO.dox"
The doc is missing for these two classes. Only io on the `Mesh` class is documented.

@JacquesOlivierLachaud

[2022-09-06 07:32] dcoeurjo opened #1658 "Fix pybind11 and CTEST command in the python binding test on MacOS"
* If we change the pybind11 to 2.10.0 but there is an issue with `py::make_iterator`
* If we keep pybind11 to 2.6, the ctest on macOS is using the wrong python bin